@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Scripts/Caja/CAJCobro.js"></script>
    
}

<div class="card">
    <span class="badge badge-pill badge-secondary">COBROS AUTO REPUESTOS EL EDEN</span>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="demo-container">
                    <div id="exportButton"></div>
                    <div id="gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@*--------------------------------------datos---------------------------------------*@

@*---------------------------------------------MODAL DETALLE VENTA------------------------------------------------*@
<div class="modal" id="modalDetalle" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">DETALLE DE VENTA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="demo-container">
                            <div id="exportButton"></div>
                            <div id="gridContainer2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@*----------------------------------------------------MODAL COBRO-------------------------------------------------*@
<div class="modal" id="modalCobro" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title">COBRO DISTRIBUIDORA EL EDEN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="hfID" type="hidden" />
                    <input id="hfOpcion" type="hidden" />
                    <input id="hfMonto" type="hidden" />
                    <input id="hfSerie" type="hidden" />
                    <input id="hfCorrelativo" type="hidden" />
                    <input id="hfIDCliente" type="hidden" />
                    <input id="hfNombreCliente" type="hidden" />
                    <input id="hfNit" type="hidden" />
                    <input id="hfDireccion" type="hidden" />
                    <input id="hfSubtotal" type="hidden" />
                    <input id="hfTotal" type="hidden" />
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                        <label class="h3 text-center  mt-1">Total a Cobrar</label>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                        <label class="h1 mt-3 text-success font-weight-bold" id="totalCobro"></label>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <select class="custom-select mt-2" id="selTipoPago">
                            <option value="1">EFECTIVO</option>
                            <option value="2">TARJETA</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnCobrar">COBRAR</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
            </div>
        </div>
    </div>
</div>

@*------------------------------------------------MODAL ANULADO-----------------------------------------------------*@
<div class="modal" id="modalAnulado" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title">DISTRIBUIDORA DE REPUESTOS EL EDEN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="hfID" type="hidden" />
                    <input id="hfOpcion" type="hidden" />
                    <input id="hfMonto" type="hidden" />
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                        <h5>¿Desea realmente eliminar este producto de caja?</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnAnular" data-dismiss="modal">SI</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>