@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Scripts/Inventario/ListarProductos.js"></script>

}

@section styles{
    <style>
        .col-form-label {
            padding-top: 10px;
            padding-right: 1px;
            text-align: right;
            font-size: 10.6px;
            /*color: gray;*/
            font-weight: bold;
            width: 115px;
            /*border: 1px solid;
            background-color: darkseagreen;*/
        }
    </style>

    <style>
        #gridContainer span.current-value {
            display: inline-block;
            margin-right: 5px;
        }

        #gridContainer span.diff {
            width: 50px;
            display: inline-block;
        }
    </style>
}

<div class="card">
    <span class="badge badge-pill badge-secondary">LISTADO DE PRODUCTOS</span>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">INGRESE SU BUSQUEDA</div>
                    </div>
                    <input type="text" class="form-control" id="txtFiltro">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">INGRESE MODELO</div>
                    </div>
                    <input type="text" class="form-control text-center" id="anioI" maxlength="4" onkeypress="return valideKey(event);">
                    <input type="text" class="form-control text-center d-none" id="anioF" maxlength="4" onkeypress="return valideKey(event);">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="demo-container">
                    <div id="exportButton"></div>
                    <div id="gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hfIdProducto" />
<div class="modal fade" id="modalEditarProducto">
    <div class="modal-dialog modal-xl">
        <div class="modal-content  bg-light">
            <div class="modal-header">
                <h5 class="modal-title">MODIFICAR PRODUCTO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formModificarProducto">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-1">
                            <div class="input-group text-right">
                                <span class="col-form-label">NOMBRE:</span>
                                <input type="text" class="form-control" id="txtNombre" name="txtNombre">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-1">
                            <div class="input-group text-right">
                                <span class="col-form-label">DESCRIPCION:</span>
                                <input type="text" class="form-control" id="txtDescripcion" name="txtDescripcion">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-1">
                            <div class="input-group text-right">
                                <span class="col-form-label">PRECIO COSTO:</span>
                                <input type="text" class="form-control text-right" id="txtPrecioCosto" name="txtPrecioCosto">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-1">
                            <div class="input-group text-right">
                                <span class="col-form-label">PRECIO VENTA:</span>
                                <input type="text" class="form-control text-right" id="txtPrecioVenta" name="txtPrecioVenta">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-1">
                            <div class="input-group text-right">
                                <span class="col-form-label">STOCK:</span>
                                <input type="text" class="form-control text-center d-none" id="txtStock" name="txtStock" onkeypress="return valideKey(event);" readonly>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 pt-1">
                            <div class="custom-file" id="customFile">
                                <input type="file" class="custom-file-input" id="idFotografia" aria-describedby="fileHelp">
                                <label class="custom-file-label" for="idFotografia">
                                    Seleccionar fotografía
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                        <button type="submit" class="btn btn-success" id="btnProcesar">PROCESAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAddStock">
    <div class="modal-dialog modal-ms">
        <div class="modal-content  bg-light">
            <div class="modal-header">
                <h5 class="modal-title">AGREGAR STOCK</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                    <label class="h5 mt-3">STOCK ACTUAL</label><br />
                    <label class="h2 text-success" id="txtStockActual"></label>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-1 text-center justify-content-center">
                        <div class="input-group justify-content-center" id="divNit">
                            <div class="input-group-prepend">
                                <button id="tbnResStock" style="" type="button" class="btn btn-danger"><i class="far fa-minus-circle"></i></button>
                                <input type="text" class="form-control text-center" id="txtNuevoStock" value="0">
                                <button id="btnAddStock" style="" type="button" class="btn btn-info"><i class="far fa-plus-circle"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
                    <button type="submit" class="btn btn-success" id="btnUpdateStock">ACTUALIZAR</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalValidarAutorizacion">
    <div class="modal-dialog modal-sm">
        <div class="modal-content  bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title">VALIDAR AUTORIZACIÓN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtUser">USUARIO</label>
                            <input type="text" class="form-control" id="txtUser" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="txtPassword">CLAVE</label>
                            <input type="password" class="form-control" id="txtPassword" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                <button type="button" class="btn btn-success" id="btnValidarUsuario">VALIDAR</button>
            </div>
        </div>
    </div>
</div>
