@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Scripts/Inventario/ListarProductos.js"></script>

}
<style>
    #gridContainer span.current-value {
        display: inline-block;
        margin-right: 5px;
    }

    #gridContainer span.diff {
        width: 50px;
        display: inline-block;
    }
</style>

@section styles{
    <style>
        .col-form-label {
            padding-top: 10px;
            padding-right: 1px;
            text-align: right;
            font-size: 10.6px;
            /*color: gray;*/
            font-weight: bold;
            width: 115px;
            /*border: 1px solid;
            background-color: darkseagreen;*/
        }
    </style>

    <style>
        #gridContainer span.current-value {
            display: inline-block;
            margin-right: 5px;
        }

        #gridContainer span.diff {
            width: 50px;
            display: inline-block;
        }
    </style>
}

<div class="card">
    <span class="badge badge-pill badge-secondary">LISTADO DE PRODUCTOS</span>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-1">
                <div class="input-group mb-12">
                    <div class="input-group-prepend">
                        <label style="width:180px" class="input-group-text" for="selCategoria">MODELO VEHICULO</label>
                    </div>
                    <select class="custom-select" id="selModelo">
                        <option selected disabled>SELECCIONE</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-1">
                <div class="input-group mb-12">
                    <div class="input-group-prepend">
                        <label style="width:180px" class="input-group-text" for="selCategoria">MARCA VEHICULO</label>
                    </div>
                    <select class="custom-select" id="selMarcaVehiculo">
                        <option selected disabled>SELECCIONE</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-1">
                <div class="input-group mb-12">
                    <div class="input-group-prepend">
                        <label style="width:180px" class="input-group-text" for="selCategoria">LINEA VEHICULO</label>
                    </div>
                    <select class="custom-select" id="selLinea">
                        <option selected disabled>SELECCIONE</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="demo-container">
                    <div id="exportButton"></div>
                    <div id="gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hfIdProducto" />
<div class="modal fade" id="modalDatos">
    <div class="modal-dialog modal-xl">
        <div class="modal-content  bg-light">
            <div class="modal-header">
                <h5 class="modal-title">MODIFICAR PRODUCTO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formGuardarProducto">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-1">
                            <div class="input-group text-right">
                                <span class="col-form-label">NOMBRE:</span>
                                <input type="text" class="form-control" id="txtNombre" name="txtNombre" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-1">
                            <div class="input-group text-right">
                                <span class="col-form-label">DESCRIPCIÓN:</span>
                                <input type="text" class="form-control" id="txtDescripcion" name="txtDescripcion">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-1">
                            <div class="input-group text-right">
                                <span class="col-form-label">PRECIO COSTO:</span>
                                <input type="number" class="form-control text-right" id="txtPrecioCosto" name="txtPrecioCosto" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-1">
                            <div class="input-group text-right">
                                <span class="col-form-label">PRECIO VENTA:</span>
                                <input type="number" class="form-control text-right" id="txtPrecioVenta" name="txtPrecioVenta">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-1">
                            <div class="input-group text-right">
                                <span class="col-form-label">STOCK:</span>
                                <input type="number" class="form-control text-center" id="txtStock" name="txtStock" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-1">
                            <div class="input-group text-right">
                                <span class="col-form-label">ANIO FABRICACIÓN:</span>
                                <input type="number" class="form-control text-center" id="txtAnioFabricacion" name="txtAnioFabricacion">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-1">
                            <div class="input-group text-right">
                                <span class="col-form-label">CÓDIGO:</span>
                                <input type="text" class="form-control text-center" id="txtCodigo" name="txtCodigo" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-1">
                            <div class="input-group text-right">
                                <span class="col-form-label">CATEGORÍA:</span>
                                <select class="form-control select2bs4" id="selCategoria" name="selCategoria" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-1">
                            <div class="input-group">
                                <span class="col-form-label">MODELO:</span>
                                <select class="form-control select2bs4" id="selModelo" name="selModelo" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-1">
                            <div class="input-group text-right">
                                <span class="col-form-label">TIPO:</span>
                                <select class="form-control select2bs4" id="selTipo" name="selTipo" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-1">
                            <div class="input-group">
                                <span class="col-form-label">BODEGA:</span>
                                <select class="form-control select2bs4" id="selBodega" name="selBodega" required>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                        <button type="submit" class="btn btn-success" id="btnProcesar">PROCESAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>