@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Scripts/Inventario/Subcategoria.js"></script>
}

<style>
    #gridContainer span.current-value {
        display: inline-block;
        margin-right: 5px;
    }

    #gridContainer span.diff {
        width: 50px;
        display: inline-block;
    }
</style>

<div class="card">
    <span class="badge badge-pill badge-secondary">LISTADO DE SUBCATEGORIAS</span>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" id="btnAbrirModal" data-target="#modalDatos">
                    <i class="far fa-plus-circle"></i> NUEVO
                </button>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="demo-container">
                    <div id="exportButton"></div>
                    <div id="gridContainer"></div>
                </div>
                <table class="d-none table-striped display nowrap scroll" style="width:100%" id="tblDatos">
                    <thead class="headColor">
                        <tr>
                            <th class="border text-center d-none">ID</th>
                            <th class="border text-center">NOMBRE</th>
                            <th class="border text-center">ESTANTERIA</th>
                            <th class="border text-center">NIVEL</th>
                            <th class="border text-center">ESTADO</th>
                            <th class="border text-center" style="width:130px">ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyDatos">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<input id="hfOpcion" type="hidden" />
<input id="hfID" type="hidden" />
<div class="modal fade" id="modalDatos">
    <div class="modal-dialog">
        <div class="modal-content  bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputCity">NOMBRE</label>
                            <input type="text" class="form-control" id="txtNombre">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputCity">DESCRIPCION</label>
                            <input type="text" class="form-control" id="txtDescripcion">
                        </div>
                        <div class="form-group col-md-12">
                            <div class="input-group mb-12">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="selCategoria">CATEGORIA</label>
                                </div>
                                <select class="custom-select" id="selCategoria">
                                    <option selected disabled>SELECCIONE</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                <button type="button" class="btn btn-success" id="btnProcesar">PROCESAR</button>
            </div>
        </div>
    </div>
</div>