
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Scripts/Caja/CAJCorte.js"></script>

}
<div class="card">
    <span class="badge badge-pill badge-secondary">CORTE AUTO REPUESTOS EL EDEN</span>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="demo-container">
                    <div id="exportButton"></div>
                    <div id="gridContainer"></div>
                </div>

            </div>
        </div>
    </div>
</div>
