@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Scripts/Reimpresiones/VENReimpresiones.js"></script>
}
<div class="card">
    <span class="badge badge-pill badge-secondary">REIMPRESIONES</span>
    <div class="card-body">
        <form id="formVentas">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 pt-1">
                    <div class="input-group text-center">
                        <span class="col-form-label">FECHA:</span>
                        <input type="text" class="form-control text-center" id="txtFecha" name="txtFecha" required>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 pt-1 text-center">
                    <button class="btn btn-secondary" id="btnGenerar"><i class="far fa-filter"></i> GENERAR BÚSQUEDA</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <span class="badge badge-pill badge-secondary"></span>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="demo-container">
                    <div id="exportButton"></div>
                    <div id="gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>