
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts{
    <script src="~/Scripts/Clientes/CLIListarClientes.js"></script>
}
<div class="card">
    <span class="badge badge-pill badge-secondary">LISTADO DE CLIENTES</span>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" id="btnAbrirModal" data-target="#modalDatos">
                    <i class="far fa-plus-circle"></i> NUEVO
                </button>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="demo-container">
                    <div id="exportButton"></div>
                    <div id="gridContainer"></div>
                </div>
                <table class="d-none table-striped display nowrap scroll" style="width:100%" id="tblDatos">
                    <thead class="headColor">
                        <tr>
                            <th class="border text-center">ESTADO</th>
                            <th class="border text-center" style="width:130px">ACCIONES</th>
                            <th class="border text-center">ID</th>
                            <th class="border text-center">NOMBRE</th>
                            <th class="border text-center">DIRECCION</th>
                            <th class="border text-center">TELEFONO</th>
                            <th class="border text-center">EMAIL</th>
                            <th class="border text-center">NIT</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyDatos">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*--------- modal---------*@
<div class="modal fade" id="modalCliente">
    <div class="modal-dialog">
        <div class="modal-content  bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal">DATOS DEL CLIENTE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="hfID" type="hidden" />
                    <input id="hfOpcion" type="hidden" />
                    <div class="col-lg-12">
                        <label class="form-label" for="nombre">NOMBRE DEL CLIENTE:</label>
                        <input type="text" name="nombre" class="form-control" value="" id="txtGuardarNombre" placeholder="NOMBRE" pattern="[a-z]" required />
                    </div>
                    <div class="col-lg-12">
                        <label class="form-label" for="direccion">DIRECCION:</label>
                        <input type="text" name="direccion" class="form-control" value="" id="txtGuardarDireccion" placeholder="DIRECCION" maxlength="150" />
                    </div>
                    <div class="col-lg-12">
                        <label class="form-label" for="email">EMAIL:</label>
                        <input type="text" name="email" class="form-control" value="" id="txtGuardarEmail" placeholder="EMAIL" maxlength="50" />
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label" for="telefono">TELEFONO:</label>
                        <input type="text" name="telefono" class="form-control text-center" onkeypress="return valideKey(event);" id="txtGuardarTelefono" placeholder="TELEFONO" maxlength="8" required />
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label" for="nit">NIT:</label>
                        <input type="text" name="nit" class="form-control text-center" value="" id="txtGuardarNit" placeholder="NIT" maxlength="10" required />
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                <button type="button" class="btn btn-success" id="guardarClienteModal">GUARDAR</button>
            </div>
        </div>
    </div>
</div>