USE [master]
GO
/****** Object:  Database [db_a8e200_dbsalesment]    Script Date: 29/10/2022 23:54:47 ******/
CREATE DATABASE [db_a8e200_dbsalesment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_a8e200_dbsalesment_Data', FILENAME = N'H:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_a8e200_dbsalesment_DATA.mdf' , SIZE = 8192KB , MAXSIZE = 1024000KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'db_a8e200_dbsalesment_Log', FILENAME = N'H:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_a8e200_dbsalesment_Log.LDF' , SIZE = 3072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_a8e200_dbsalesment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_a8e200_dbsalesment]
GO
/****** Object:  Table [dbo].[TBL_BODEGA]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BODEGA](
	[ID_BODEGA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ESTANTERIA] [int] NOT NULL,
	[NIVEL] [int] NOT NULL,
	[CREADO_POR] [varchar](20) NOT NULL,
	[ESTADO] [int] NOT NULL,
	[FECHA_CREACION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BODEGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CATEGORIA]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CATEGORIA](
	[ID_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](200) NOT NULL,
	[CREADO_POR] [varchar](20) NOT NULL,
	[ESTADO] [int] NOT NULL,
	[FECHA_CREACION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CLIENTE]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CLIENTE](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DIRECCION] [varchar](200) NOT NULL,
	[TELEFONO] [varchar](15) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[NIT] [varchar](20) NOT NULL,
	[CREADO_POR] [varchar](20) NULL,
	[ESTADO] [int] NULL,
	[FECHA_CREACION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_EMPLEADO]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_EMPLEADO](
	[ID_EMPLEADO] [int] NOT NULL,
	[PRIMER_NOMBRE] [varchar](50) NULL,
	[SEGUNDO_NOMBRE] [varchar](50) NULL,
	[PRIMER_APELLIDO] [varchar](50) NULL,
	[SEGUNDO_APELLIDO] [varchar](50) NULL,
	[DIRECCION] [varchar](200) NOT NULL,
	[TELEFONO] [varchar](15) NOT NULL,
	[ID_TIPO_EMPLEADO] [int] NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[CREADO_POR] [varchar](20) NOT NULL,
	[ESTADO] [int] NOT NULL,
	[FECHA_CREACION] [datetime] NULL,
	[URL_FOTOGRAFIA] [varchar](150) NULL,
 CONSTRAINT [PK__TBL_EMPL__922CA26924A9EE0E] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ESTADO_VENTA]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ESTADO_VENTA](
	[ID_ESTADO_VENTA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MARCA_REPUESTO]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MARCA_REPUESTO](
	[ID_MARCA_REPUESTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](200) NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[ESTADO] [int] NULL,
	[CREADO_POR] [varchar](200) NULL,
	[FECHA_CREACION] [datetime] NULL,
 CONSTRAINT [PK__TBL_MARC__3B8AA5D7F09252AB] PRIMARY KEY CLUSTERED 
(
	[ID_MARCA_REPUESTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MARCA_VEHICULO]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MARCA_VEHICULO](
	[ID_MARCA_VEHICULO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](200) NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[ESTADO] [int] NULL,
	[CREADO_POR] [varchar](200) NULL,
	[FECHA_CREACION] [datetime] NULL,
 CONSTRAINT [PK__TBL_MARC__BC5535BAFD065023] PRIMARY KEY CLUSTERED 
(
	[ID_MARCA_VEHICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MODELO]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MODELO](
	[ID_MODELO] [int] IDENTITY(1,1) NOT NULL,
	[CREADO_POR] [varchar](20) NOT NULL,
	[ESTADO] [int] NOT NULL,
	[FECHA_CREACION] [datetime] NULL,
	[ANIO_INICIAL] [int] NULL,
	[ANIO_FINAL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MODELO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PRODUCTO]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PRODUCTO](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[PRECIO_COSTO] [decimal](18, 2) NOT NULL,
	[PRECIO_VENTA] [decimal](18, 2) NOT NULL,
	[STOCK] [int] NOT NULL,
	[CODIGO] [varchar](25) NULL,
	[ID_BODEGA] [int] NULL,
	[CREADO_POR] [varchar](20) NULL,
	[ESTADO] [int] NOT NULL,
	[FECHA_CREACION] [datetime] NULL,
	[ID_SUBCATEGORIA] [int] NULL,
	[ID_MODELO] [int] NULL,
	[ID_PROVEEDOR] [int] NULL,
	[ID_MARCA_REPUESTO] [int] NULL,
	[CODIGO2] [varchar](50) NULL,
	[PATH_IMG] [varchar](200) NULL,
 CONSTRAINT [PK__TBL_PROD__88BD03570CC16282] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PRODUCTO_SERIE_VEHICULO]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PRODUCTO_SERIE_VEHICULO](
	[ID_PRODUCTO_SERIE_VEHICULO] [int] IDENTITY(1,1) NOT NULL,
	[ID_PRODUCTO] [int] NULL,
	[ID_SERIE_VEHICULO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO_SERIE_VEHICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PROVEEDOR]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PROVEEDOR](
	[ID_PROVEEDOR] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](200) NOT NULL,
	[TELEFONO] [varchar](15) NOT NULL,
	[DIRECCION] [varchar](200) NOT NULL,
	[CONTACTO] [varchar](50) NOT NULL,
	[CREADO_POR] [varchar](20) NOT NULL,
	[ESTADO] [int] NOT NULL,
	[FECHA_CREACION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ROL]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ROL](
	[ID_ROL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](200) NOT NULL,
	[CREADO_POR] [varchar](20) NOT NULL,
	[ESTADO] [int] NOT NULL,
	[FECHA_CREACION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_SERIE_VEHICULO]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SERIE_VEHICULO](
	[ID_SERIE_VEHICULO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](200) NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[ESTADO] [int] NULL,
	[CREADO_POR] [varchar](200) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[ID_MARCA_VEHICULO] [int] NULL,
 CONSTRAINT [PK__TBL_SERI__300F847E30BC6F58] PRIMARY KEY CLUSTERED 
(
	[ID_SERIE_VEHICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_SUBCATEGORIA]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SUBCATEGORIA](
	[ID_SUBCATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](200) NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[ID_CATEGORIA] [int] NULL,
	[ESTADO] [int] NULL,
	[CREADO_POR] [varchar](200) NULL,
	[FECHA_CREACION] [datetime] NULL,
 CONSTRAINT [PK__TBL_SUBC__B5BF29C96A375A8C] PRIMARY KEY CLUSTERED 
(
	[ID_SUBCATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_SUMINISTRA]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SUMINISTRA](
	[ID_PROVEEDOR] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TIPO]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TIPO](
	[ID_TIPO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](200) NOT NULL,
	[CREADO_POR] [varchar](20) NOT NULL,
	[ESTADO] [int] NOT NULL,
	[FECHA_CREACION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TIPO_EMPLEADO]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TIPO_EMPLEADO](
	[ID_TIPO_EMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](200) NOT NULL,
	[CREADO_POR] [varchar](20) NOT NULL,
	[ESTADO] [int] NOT NULL,
	[FECHA_CREACION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USUARIO]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[CONTRASEÑA] [varchar](50) NOT NULL,
	[ID_EMPLEADO] [int] NOT NULL,
	[ID_ROL] [int] NOT NULL,
	[CREADO_POR] [varchar](20) NOT NULL,
	[ESTADO] [int] NOT NULL,
	[FECHA_CREACION] [datetime] NULL,
	[url_pantalla] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_VENTA]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_VENTA](
	[ID_VENTA] [int] NOT NULL,
	[SERIE] [varchar](10) NOT NULL,
	[CORRELATIVO] [decimal](18, 2) NULL,
	[FECHA] [datetime] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[TOTAL] [decimal](18, 2) NOT NULL,
	[SUBTOTAL] [decimal](18, 2) NOT NULL,
	[TOTAL_IVA] [decimal](18, 2) NOT NULL,
	[TOTAL_DESCUENTO] [decimal](18, 2) NOT NULL,
	[CREADO_POR] [varchar](20) NOT NULL,
	[ESTADO] [int] NOT NULL,
	[FECHA_CREACION] [datetime] NULL,
	[ID_ESTADO_VENTA] [int] NULL,
 CONSTRAINT [PK__TBL_VENT__F3B6C1B41A7DC782] PRIMARY KEY CLUSTERED 
(
	[ID_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_VENTA_DETALLE]    Script Date: 29/10/2022 23:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_VENTA_DETALLE](
	[ID_VENTA_DETALLE] [int] IDENTITY(1,1) NOT NULL,
	[ID_VENTA] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[PRECIO_UNITARIO] [decimal](18, 2) NOT NULL,
	[TOTAL] [decimal](18, 2) NOT NULL,
	[IVA] [decimal](18, 2) NOT NULL,
	[DESCUENTO] [decimal](18, 2) NOT NULL,
	[SUBTOTAL] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VENTA_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_CATEGORIA] ON 

INSERT [dbo].[TBL_CATEGORIA] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION], [CREADO_POR], [ESTADO], [FECHA_CREACION]) VALUES (1, N'AMORTIGUADOR', N'AMORTIGUADOR', N'RALOPEZ', 1, CAST(N'2022-10-29T20:23:05.093' AS DateTime))
INSERT [dbo].[TBL_CATEGORIA] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION], [CREADO_POR], [ESTADO], [FECHA_CREACION]) VALUES (2, N'BOMBA AUX. CLUTH', N'BOMBA AUX. CLUTH', N'RALOPEZ', 1, CAST(N'2022-10-29T20:23:05.093' AS DateTime))
INSERT [dbo].[TBL_CATEGORIA] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION], [CREADO_POR], [ESTADO], [FECHA_CREACION]) VALUES (3, N'BOMBA AUX. FRENO', N'BOMBA AUX. FRENO', N'RALOPEZ', 1, CAST(N'2022-10-29T20:23:05.093' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_CATEGORIA] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_CLIENTE] ON 

INSERT [dbo].[TBL_CLIENTE] ([ID_CLIENTE], [NOMBRE], [DIRECCION], [TELEFONO], [EMAIL], [NIT], [CREADO_POR], [ESTADO], [FECHA_CREACION]) VALUES (1, N'ERICK', N'CHAMAC', N'44554455', N'NA', N'1234567', N'RALOPEZ', 0, CAST(N'2022-10-16T00:00:00.000' AS DateTime))
INSERT [dbo].[TBL_CLIENTE] ([ID_CLIENTE], [NOMBRE], [DIRECCION], [TELEFONO], [EMAIL], [NIT], [CREADO_POR], [ESTADO], [FECHA_CREACION]) VALUES (2, N'romeo santos', N'peru', N'11221122', N'test@gmail.com', N'12345654', N'RALOPEZ', 0, CAST(N'2022-10-24T22:19:47.330' AS DateTime))
INSERT [dbo].[TBL_CLIENTE] ([ID_CLIENTE], [NOMBRE], [DIRECCION], [TELEFONO], [EMAIL], [NIT], [CREADO_POR], [ESTADO], [FECHA_CREACION]) VALUES (3, N'Juan lopez', N'San Marcos', N'38383833', N'Juan@hotmail.com', N'44554444', N'RALOPEZ', 0, CAST(N'2022-10-24T22:36:13.270' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_CLIENTE] OFF
GO
INSERT [dbo].[TBL_EMPLEADO] ([ID_EMPLEADO], [PRIMER_NOMBRE], [SEGUNDO_NOMBRE], [PRIMER_APELLIDO], [SEGUNDO_APELLIDO], [DIRECCION], [TELEFONO], [ID_TIPO_EMPLEADO], [EMAIL], [CREADO_POR], [ESTADO], [FECHA_CREACION], [URL_FOTOGRAFIA]) VALUES (7, N'RAUL', N'ALEJANDRO', N'LOPEZ', N'FUENTES', N'GUATEMALA', N'44556622', 1, N'', N'RALOPEZ', 1, CAST(N'2022-10-14T18:00:24.990' AS DateTime), N'http://iosdevelop-001-site1.btempurl.com:80/Content/Fotografias/profile%20hombre3.png')
INSERT [dbo].[TBL_EMPLEADO] ([ID_EMPLEADO], [PRIMER_NOMBRE], [SEGUNDO_NOMBRE], [PRIMER_APELLIDO], [SEGUNDO_APELLIDO], [DIRECCION], [TELEFONO], [ID_TIPO_EMPLEADO], [EMAIL], [CREADO_POR], [ESTADO], [FECHA_CREACION], [URL_FOTOGRAFIA]) VALUES (8, N'5', N'', N'5', N'', N'5', N'', 1, N'', N'RALOPEZ', 1, CAST(N'2022-10-14T18:23:40.743' AS DateTime), N'http://iosdevelop-001-site1.btempurl.com:80/Content/Fotografias/profile%20hombre3.png')
INSERT [dbo].[TBL_EMPLEADO] ([ID_EMPLEADO], [PRIMER_NOMBRE], [SEGUNDO_NOMBRE], [PRIMER_APELLIDO], [SEGUNDO_APELLIDO], [DIRECCION], [TELEFONO], [ID_TIPO_EMPLEADO], [EMAIL], [CREADO_POR], [ESTADO], [FECHA_CREACION], [URL_FOTOGRAFIA]) VALUES (9, N'5', N'', N'5', N'', N'5', N'', 1, N'', N'RALOPEZ', 1, CAST(N'2022-10-14T18:23:51.763' AS DateTime), N'http://iosdevelop-001-site1.btempurl.com:80/Content/Fotografias/profile%20hombre3.png')
GO
SET IDENTITY_INSERT [dbo].[TBL_ESTADO_VENTA] ON 

INSERT [dbo].[TBL_ESTADO_VENTA] ([ID_ESTADO_VENTA], [NOMBRE]) VALUES (1, N'PENDIENTE DE COBRO')
INSERT [dbo].[TBL_ESTADO_VENTA] ([ID_ESTADO_VENTA], [NOMBRE]) VALUES (2, N'COBRADO')
INSERT [dbo].[TBL_ESTADO_VENTA] ([ID_ESTADO_VENTA], [NOMBRE]) VALUES (3, N'CORTADO')
SET IDENTITY_INSERT [dbo].[TBL_ESTADO_VENTA] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_MARCA_REPUESTO] ON 

INSERT [dbo].[TBL_MARCA_REPUESTO] ([ID_MARCA_REPUESTO], [NOMBRE], [DESCRIPCION], [ESTADO], [CREADO_POR], [FECHA_CREACION]) VALUES (9, N'GMB', N'GMB', 1, N'RALOPEZ', CAST(N'2022-10-29T21:54:12.703' AS DateTime))
INSERT [dbo].[TBL_MARCA_REPUESTO] ([ID_MARCA_REPUESTO], [NOMBRE], [DESCRIPCION], [ESTADO], [CREADO_POR], [FECHA_CREACION]) VALUES (10, N'GMB/SEIRE', N'GMB/SEIRE', 1, N'RALOPEZ', CAST(N'2022-10-29T21:54:12.703' AS DateTime))
INSERT [dbo].[TBL_MARCA_REPUESTO] ([ID_MARCA_REPUESTO], [NOMBRE], [DESCRIPCION], [ESTADO], [CREADO_POR], [FECHA_CREACION]) VALUES (11, N'Master', N'Master', 1, N'RALOPEZ', CAST(N'2022-10-29T21:54:12.703' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_MARCA_REPUESTO] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_MARCA_VEHICULO] ON 

INSERT [dbo].[TBL_MARCA_VEHICULO] ([ID_MARCA_VEHICULO], [NOMBRE], [DESCRIPCION], [ESTADO], [CREADO_POR], [FECHA_CREACION]) VALUES (1, N'142003 /', N'142003 /', 1, N'RALOPEZ', CAST(N'2022-10-29T21:22:21.430' AS DateTime))
INSERT [dbo].[TBL_MARCA_VEHICULO] ([ID_MARCA_VEHICULO], [NOMBRE], [DESCRIPCION], [ESTADO], [CREADO_POR], [FECHA_CREACION]) VALUES (2, N'8-94382-214', N'8-94382-214', 1, N'RALOPEZ', CAST(N'2022-10-29T21:22:21.430' AS DateTime))
INSERT [dbo].[TBL_MARCA_VEHICULO] ([ID_MARCA_VEHICULO], [NOMBRE], [DESCRIPCION], [ESTADO], [CREADO_POR], [FECHA_CREACION]) VALUES (3, N'Acura', N'Acura', 1, N'RALOPEZ', CAST(N'2022-10-29T21:22:21.430' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_MARCA_VEHICULO] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_MODELO] ON 

INSERT [dbo].[TBL_MODELO] ([ID_MODELO], [CREADO_POR], [ESTADO], [FECHA_CREACION], [ANIO_INICIAL], [ANIO_FINAL]) VALUES (1, N'RALOPEZ', 1, CAST(N'2022-10-29T21:59:30.760' AS DateTime), 0, 0)
INSERT [dbo].[TBL_MODELO] ([ID_MODELO], [CREADO_POR], [ESTADO], [FECHA_CREACION], [ANIO_INICIAL], [ANIO_FINAL]) VALUES (2, N'RALOPEZ', 1, CAST(N'2022-10-29T21:59:30.760' AS DateTime), 1773, 1776)
INSERT [dbo].[TBL_MODELO] ([ID_MODELO], [CREADO_POR], [ESTADO], [FECHA_CREACION], [ANIO_INICIAL], [ANIO_FINAL]) VALUES (3, N'RALOPEZ', 1, CAST(N'2022-10-29T21:59:30.760' AS DateTime), 1889, 1990)
GO
SET IDENTITY_INSERT [dbo].[TBL_MODELO] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_PRODUCTO] ON 

INSERT [dbo].[TBL_PRODUCTO] ([ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO_COSTO], [PRECIO_VENTA], [STOCK], [CODIGO], [ID_BODEGA], [CREADO_POR], [ESTADO], [FECHA_CREACION], [ID_SUBCATEGORIA], [ID_MODELO], [ID_PROVEEDOR], [ID_MARCA_REPUESTO], [CODIGO2], [PATH_IMG]) VALUES (561, N'AMORTIGUADOR', N'AMORTIGUADOR DEL R/L GAS JAPAN TECH, CIVIC EK', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0, N'SPHD131263', NULL, N'RALOPEZ', 1, CAST(N'2022-10-29T22:19:24.203' AS DateTime), NULL, NULL, NULL, NULL, N'', NULL)
INSERT [dbo].[TBL_PRODUCTO] ([ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO_COSTO], [PRECIO_VENTA], [STOCK], [CODIGO], [ID_BODEGA], [CREADO_POR], [ESTADO], [FECHA_CREACION], [ID_SUBCATEGORIA], [ID_MODELO], [ID_PROVEEDOR], [ID_MARCA_REPUESTO], [CODIGO2], [PATH_IMG]) VALUES (562, N'AMORTIGUADOR', N'AMORTIGUADOR TRA R/L GAS JAPAN TECH HORQUETA CERRA, CIVIC EK', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0, N'SPHD131363', NULL, N'RALOPEZ', 1, CAST(N'2022-10-29T22:19:24.203' AS DateTime), NULL, NULL, NULL, NULL, N'', NULL)
INSERT [dbo].[TBL_PRODUCTO] ([ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO_COSTO], [PRECIO_VENTA], [STOCK], [CODIGO], [ID_BODEGA], [CREADO_POR], [ESTADO], [FECHA_CREACION], [ID_SUBCATEGORIA], [ID_MODELO], [ID_PROVEEDOR], [ID_MARCA_REPUESTO], [CODIGO2], [PATH_IMG]) VALUES (563, N'AMORTIGUADOR', N'AMORTIGUADOR DEL RH GAS JAPAN TECH, CIVIC SEDAN/COUPE', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0, N'SPHD151261', NULL, N'RALOPEZ', 1, CAST(N'2022-10-29T22:19:24.203' AS DateTime), NULL, NULL, NULL, NULL, N'', NULL)
GO
SET IDENTITY_INSERT [dbo].[TBL_PRODUCTO] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_PROVEEDOR] ON 

INSERT [dbo].[TBL_PROVEEDOR] ([ID_PROVEEDOR], [NOMBRE], [DESCRIPCION], [TELEFONO], [DIRECCION], [CONTACTO], [CREADO_POR], [ESTADO], [FECHA_CREACION]) VALUES (2, N'Interauto', N'Interauto', N'77600000', N'Ciudad', N'Interauto', N'RALOPEZ', 1, CAST(N'2022-10-29T21:49:54.900' AS DateTime))
INSERT [dbo].[TBL_PROVEEDOR] ([ID_PROVEEDOR], [NOMBRE], [DESCRIPCION], [TELEFONO], [DIRECCION], [CONTACTO], [CREADO_POR], [ESTADO], [FECHA_CREACION]) VALUES (3, N'Mizumo', N'Mizumo', N'77600000', N'Ciudad', N'Mizumo', N'RALOPEZ', 1, CAST(N'2022-10-29T21:49:54.900' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_PROVEEDOR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_ROL] ON 

INSERT [dbo].[TBL_ROL] ([ID_ROL], [NOMBRE], [DESCRIPCION], [CREADO_POR], [ESTADO], [FECHA_CREACION]) VALUES (1, N'FULL ACCESS', N'FULL ACCESO AL SISTEMA', N'RALOPEZ', 1, CAST(N'2022-10-13T10:50:25.460' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_SERIE_VEHICULO] ON 

INSERT [dbo].[TBL_SERIE_VEHICULO] ([ID_SERIE_VEHICULO], [NOMBRE], [DESCRIPCION], [ESTADO], [CREADO_POR], [FECHA_CREACION], [ID_MARCA_VEHICULO]) VALUES (17, N' T100', N' T100', 1, N'RALOPEZ', CAST(N'2022-10-29T20:57:15.160' AS DateTime), 23)
INSERT [dbo].[TBL_SERIE_VEHICULO] ([ID_SERIE_VEHICULO], [NOMBRE], [DESCRIPCION], [ESTADO], [CREADO_POR], [FECHA_CREACION], [ID_MARCA_VEHICULO]) VALUES (18, N'1200', N'1200', 1, N'RALOPEZ', CAST(N'2022-10-29T20:57:15.160' AS DateTime), 6)
INSERT [dbo].[TBL_SERIE_VEHICULO] ([ID_SERIE_VEHICULO], [NOMBRE], [DESCRIPCION], [ESTADO], [CREADO_POR], [FECHA_CREACION], [ID_MARCA_VEHICULO]) VALUES (19, N'2', N'2', 1, N'RALOPEZ', CAST(N'2022-10-29T20:57:15.160' AS DateTime), 16)
GO
SET IDENTITY_INSERT [dbo].[TBL_SERIE_VEHICULO] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_TIPO] ON 

INSERT [dbo].[TBL_TIPO] ([ID_TIPO], [NOMBRE], [DESCRIPCION], [CREADO_POR], [ESTADO], [FECHA_CREACION]) VALUES (3, N'PESADO', N'Peso repuesto', N'RALOPEZ', 1, CAST(N'2022-10-18T17:00:32.820' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_TIPO] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_TIPO_EMPLEADO] ON 

INSERT [dbo].[TBL_TIPO_EMPLEADO] ([ID_TIPO_EMPLEADO], [NOMBRE], [DESCRIPCION], [CREADO_POR], [ESTADO], [FECHA_CREACION]) VALUES (1, N'ADMINISTRADOR SISTEMA', N'FULL ACCESS', N'RALOPEZ', 1, CAST(N'2022-10-13T09:56:31.070' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_TIPO_EMPLEADO] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_USUARIO] ON 

INSERT [dbo].[TBL_USUARIO] ([ID_USUARIO], [USUARIO], [CONTRASEÑA], [ID_EMPLEADO], [ID_ROL], [CREADO_POR], [ESTADO], [FECHA_CREACION], [url_pantalla]) VALUES (9, N'RALOPEZ', N'PZYwMj65vO7hM+FzalwT8A==', 7, 1, N'RALOPEZ', 1, CAST(N'2022-10-14T18:00:24.990' AS DateTime), N'Default/Index')
INSERT [dbo].[TBL_USUARIO] ([ID_USUARIO], [USUARIO], [CONTRASEÑA], [ID_EMPLEADO], [ID_ROL], [CREADO_POR], [ESTADO], [FECHA_CREACION], [url_pantalla]) VALUES (10, N'RALOPEZ', N'eJoIehJIN98bfJMqXnk/oA==', 8, 1, N'RALOPEZ', 1, CAST(N'2022-10-14T18:23:40.743' AS DateTime), N'Default/Index')
INSERT [dbo].[TBL_USUARIO] ([ID_USUARIO], [USUARIO], [CONTRASEÑA], [ID_EMPLEADO], [ID_ROL], [CREADO_POR], [ESTADO], [FECHA_CREACION], [url_pantalla]) VALUES (11, N'RALOPEZ', N'eJoIehJIN98bfJMqXnk/oA==', 9, 1, N'RALOPEZ', 1, CAST(N'2022-10-14T18:23:51.763' AS DateTime), N'Default/Index')
SET IDENTITY_INSERT [dbo].[TBL_USUARIO] OFF
GO
ALTER TABLE [dbo].[TBL_EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK__TBL_EMPLE__ID_TI__151B244E] FOREIGN KEY([ID_TIPO_EMPLEADO])
REFERENCES [dbo].[TBL_TIPO_EMPLEADO] ([ID_TIPO_EMPLEADO])
GO
ALTER TABLE [dbo].[TBL_EMPLEADO] CHECK CONSTRAINT [FK__TBL_EMPLE__ID_TI__151B244E]
GO
ALTER TABLE [dbo].[TBL_EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK__TBL_EMPLE__ID_TI__3F466844] FOREIGN KEY([ID_TIPO_EMPLEADO])
REFERENCES [dbo].[TBL_TIPO_EMPLEADO] ([ID_TIPO_EMPLEADO])
GO
ALTER TABLE [dbo].[TBL_EMPLEADO] CHECK CONSTRAINT [FK__TBL_EMPLE__ID_TI__3F466844]
GO
ALTER TABLE [dbo].[TBL_EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK__TBL_EMPLE__ID_TI__5BE2A6F2] FOREIGN KEY([ID_TIPO_EMPLEADO])
REFERENCES [dbo].[TBL_TIPO_EMPLEADO] ([ID_TIPO_EMPLEADO])
GO
ALTER TABLE [dbo].[TBL_EMPLEADO] CHECK CONSTRAINT [FK__TBL_EMPLE__ID_TI__5BE2A6F2]
GO
ALTER TABLE [dbo].[TBL_EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK__TBL_EMPLE__ID_TI__787EE5A0] FOREIGN KEY([ID_TIPO_EMPLEADO])
REFERENCES [dbo].[TBL_TIPO_EMPLEADO] ([ID_TIPO_EMPLEADO])
GO
ALTER TABLE [dbo].[TBL_EMPLEADO] CHECK CONSTRAINT [FK__TBL_EMPLE__ID_TI__787EE5A0]
GO
ALTER TABLE [dbo].[TBL_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK__TBL_PRODU__ID_BO__17036CC0] FOREIGN KEY([ID_BODEGA])
REFERENCES [dbo].[TBL_BODEGA] ([ID_BODEGA])
GO
ALTER TABLE [dbo].[TBL_PRODUCTO] CHECK CONSTRAINT [FK__TBL_PRODU__ID_BO__17036CC0]
GO
ALTER TABLE [dbo].[TBL_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK__TBL_PRODU__ID_BO__412EB0B6] FOREIGN KEY([ID_BODEGA])
REFERENCES [dbo].[TBL_BODEGA] ([ID_BODEGA])
GO
ALTER TABLE [dbo].[TBL_PRODUCTO] CHECK CONSTRAINT [FK__TBL_PRODU__ID_BO__412EB0B6]
GO
ALTER TABLE [dbo].[TBL_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK__TBL_PRODU__ID_BO__5DCAEF64] FOREIGN KEY([ID_BODEGA])
REFERENCES [dbo].[TBL_BODEGA] ([ID_BODEGA])
GO
ALTER TABLE [dbo].[TBL_PRODUCTO] CHECK CONSTRAINT [FK__TBL_PRODU__ID_BO__5DCAEF64]
GO
ALTER TABLE [dbo].[TBL_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK__TBL_PRODU__ID_BO__7A672E12] FOREIGN KEY([ID_BODEGA])
REFERENCES [dbo].[TBL_BODEGA] ([ID_BODEGA])
GO
ALTER TABLE [dbo].[TBL_PRODUCTO] CHECK CONSTRAINT [FK__TBL_PRODU__ID_BO__7A672E12]
GO
ALTER TABLE [dbo].[TBL_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK__TBL_PRODU__ID_MA__3B40CD36] FOREIGN KEY([ID_MARCA_REPUESTO])
REFERENCES [dbo].[TBL_MARCA_REPUESTO] ([ID_MARCA_REPUESTO])
GO
ALTER TABLE [dbo].[TBL_PRODUCTO] CHECK CONSTRAINT [FK__TBL_PRODU__ID_MA__3B40CD36]
GO
ALTER TABLE [dbo].[TBL_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK__TBL_PRODU__ID_MO__3493CFA7] FOREIGN KEY([ID_MODELO])
REFERENCES [dbo].[TBL_MODELO] ([ID_MODELO])
GO
ALTER TABLE [dbo].[TBL_PRODUCTO] CHECK CONSTRAINT [FK__TBL_PRODU__ID_MO__3493CFA7]
GO
ALTER TABLE [dbo].[TBL_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK__TBL_PRODU__ID_SU__339FAB6E] FOREIGN KEY([ID_SUBCATEGORIA])
REFERENCES [dbo].[TBL_SUBCATEGORIA] ([ID_SUBCATEGORIA])
GO
ALTER TABLE [dbo].[TBL_PRODUCTO] CHECK CONSTRAINT [FK__TBL_PRODU__ID_SU__339FAB6E]
GO
ALTER TABLE [dbo].[TBL_PROVEEDOR]  WITH CHECK ADD FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[TBL_PROVEEDOR] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[TBL_SUBCATEGORIA]  WITH CHECK ADD  CONSTRAINT [FK__TBL_SUBCA__ID_CA__32AB8735] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[TBL_CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[TBL_SUBCATEGORIA] CHECK CONSTRAINT [FK__TBL_SUBCA__ID_CA__32AB8735]
GO
ALTER TABLE [dbo].[TBL_SUMINISTRA]  WITH CHECK ADD  CONSTRAINT [FK__TBL_SUMIN__ID_PR__00200768] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[TBL_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[TBL_SUMINISTRA] CHECK CONSTRAINT [FK__TBL_SUMIN__ID_PR__00200768]
GO
ALTER TABLE [dbo].[TBL_SUMINISTRA]  WITH CHECK ADD FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[TBL_PROVEEDOR] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[TBL_SUMINISTRA]  WITH CHECK ADD  CONSTRAINT [FK__TBL_SUMIN__ID_PR__1CBC4616] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[TBL_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[TBL_SUMINISTRA] CHECK CONSTRAINT [FK__TBL_SUMIN__ID_PR__1CBC4616]
GO
ALTER TABLE [dbo].[TBL_SUMINISTRA]  WITH CHECK ADD FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[TBL_PROVEEDOR] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[TBL_SUMINISTRA]  WITH CHECK ADD  CONSTRAINT [FK__TBL_SUMIN__ID_PR__46E78A0C] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[TBL_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[TBL_SUMINISTRA] CHECK CONSTRAINT [FK__TBL_SUMIN__ID_PR__46E78A0C]
GO
ALTER TABLE [dbo].[TBL_SUMINISTRA]  WITH CHECK ADD FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[TBL_PROVEEDOR] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[TBL_SUMINISTRA]  WITH CHECK ADD  CONSTRAINT [FK__TBL_SUMIN__ID_PR__6383C8BA] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[TBL_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[TBL_SUMINISTRA] CHECK CONSTRAINT [FK__TBL_SUMIN__ID_PR__6383C8BA]
GO
ALTER TABLE [dbo].[TBL_SUMINISTRA]  WITH CHECK ADD FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[TBL_PROVEEDOR] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[TBL_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK__TBL_USUAR__ID_EM__01142BA1] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[TBL_EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[TBL_USUARIO] CHECK CONSTRAINT [FK__TBL_USUAR__ID_EM__01142BA1]
GO
ALTER TABLE [dbo].[TBL_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK__TBL_USUAR__ID_EM__1DB06A4F] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[TBL_EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[TBL_USUARIO] CHECK CONSTRAINT [FK__TBL_USUAR__ID_EM__1DB06A4F]
GO
ALTER TABLE [dbo].[TBL_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK__TBL_USUAR__ID_EM__47DBAE45] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[TBL_EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[TBL_USUARIO] CHECK CONSTRAINT [FK__TBL_USUAR__ID_EM__47DBAE45]
GO
ALTER TABLE [dbo].[TBL_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK__TBL_USUAR__ID_EM__6477ECF3] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[TBL_EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[TBL_USUARIO] CHECK CONSTRAINT [FK__TBL_USUAR__ID_EM__6477ECF3]
GO
ALTER TABLE [dbo].[TBL_USUARIO]  WITH CHECK ADD FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[TBL_ROL] ([ID_ROL])
GO
ALTER TABLE [dbo].[TBL_USUARIO]  WITH CHECK ADD FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[TBL_ROL] ([ID_ROL])
GO
ALTER TABLE [dbo].[TBL_USUARIO]  WITH CHECK ADD FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[TBL_ROL] ([ID_ROL])
GO
ALTER TABLE [dbo].[TBL_USUARIO]  WITH CHECK ADD FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[TBL_ROL] ([ID_ROL])
GO
ALTER TABLE [dbo].[TBL_VENTA]  WITH CHECK ADD  CONSTRAINT [FK__TBL_VENTA__ID_CL__02FC7413] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[TBL_CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[TBL_VENTA] CHECK CONSTRAINT [FK__TBL_VENTA__ID_CL__02FC7413]
GO
ALTER TABLE [dbo].[TBL_VENTA]  WITH CHECK ADD  CONSTRAINT [FK__TBL_VENTA__ID_CL__1F98B2C1] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[TBL_CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[TBL_VENTA] CHECK CONSTRAINT [FK__TBL_VENTA__ID_CL__1F98B2C1]
GO
ALTER TABLE [dbo].[TBL_VENTA]  WITH CHECK ADD  CONSTRAINT [FK__TBL_VENTA__ID_CL__49C3F6B7] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[TBL_CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[TBL_VENTA] CHECK CONSTRAINT [FK__TBL_VENTA__ID_CL__49C3F6B7]
GO
ALTER TABLE [dbo].[TBL_VENTA]  WITH CHECK ADD  CONSTRAINT [FK__TBL_VENTA__ID_CL__66603565] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[TBL_CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[TBL_VENTA] CHECK CONSTRAINT [FK__TBL_VENTA__ID_CL__66603565]
GO
ALTER TABLE [dbo].[TBL_VENTA]  WITH CHECK ADD  CONSTRAINT [FK__TBL_VENTA__ID_ES__58D1301D] FOREIGN KEY([ID_ESTADO_VENTA])
REFERENCES [dbo].[TBL_ESTADO_VENTA] ([ID_ESTADO_VENTA])
GO
ALTER TABLE [dbo].[TBL_VENTA] CHECK CONSTRAINT [FK__TBL_VENTA__ID_ES__58D1301D]
GO
ALTER TABLE [dbo].[TBL_VENTA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK__TBL_VENTA__ID_PR__03F0984C] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[TBL_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[TBL_VENTA_DETALLE] CHECK CONSTRAINT [FK__TBL_VENTA__ID_PR__03F0984C]
GO
ALTER TABLE [dbo].[TBL_VENTA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK__TBL_VENTA__ID_PR__208CD6FA] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[TBL_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[TBL_VENTA_DETALLE] CHECK CONSTRAINT [FK__TBL_VENTA__ID_PR__208CD6FA]
GO
ALTER TABLE [dbo].[TBL_VENTA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK__TBL_VENTA__ID_PR__4AB81AF0] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[TBL_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[TBL_VENTA_DETALLE] CHECK CONSTRAINT [FK__TBL_VENTA__ID_PR__4AB81AF0]
GO
ALTER TABLE [dbo].[TBL_VENTA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK__TBL_VENTA__ID_PR__6754599E] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[TBL_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[TBL_VENTA_DETALLE] CHECK CONSTRAINT [FK__TBL_VENTA__ID_PR__6754599E]
GO
ALTER TABLE [dbo].[TBL_VENTA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK__TBL_VENTA__ID_VE__04E4BC85] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[TBL_VENTA] ([ID_VENTA])
GO
ALTER TABLE [dbo].[TBL_VENTA_DETALLE] CHECK CONSTRAINT [FK__TBL_VENTA__ID_VE__04E4BC85]
GO
ALTER TABLE [dbo].[TBL_VENTA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK__TBL_VENTA__ID_VE__2180FB33] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[TBL_VENTA] ([ID_VENTA])
GO
ALTER TABLE [dbo].[TBL_VENTA_DETALLE] CHECK CONSTRAINT [FK__TBL_VENTA__ID_VE__2180FB33]
GO
ALTER TABLE [dbo].[TBL_VENTA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK__TBL_VENTA__ID_VE__4BAC3F29] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[TBL_VENTA] ([ID_VENTA])
GO
ALTER TABLE [dbo].[TBL_VENTA_DETALLE] CHECK CONSTRAINT [FK__TBL_VENTA__ID_VE__4BAC3F29]
GO
ALTER TABLE [dbo].[TBL_VENTA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK__TBL_VENTA__ID_VE__68487DD7] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[TBL_VENTA] ([ID_VENTA])
GO
ALTER TABLE [dbo].[TBL_VENTA_DETALLE] CHECK CONSTRAINT [FK__TBL_VENTA__ID_VE__68487DD7]
GO
/****** Object:  StoredProcedure [dbo].[sp_clientes]    Script Date: 29/10/2022 23:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_clientes](@NOMBRE        VARCHAR(50) = NULL,
                                    @DIRECCION     VARCHAR(200) = NULL,
                                    @TELEFONO      VARCHAR(15) = NULL,
                                    @EMAIL         VARCHAR(50) = NULL,
                                    @NIT           VARCHAR(20) = NULL,
                                    @CREADO_POR    VARCHAR(50) = NULL,
                                    @ID_CLIENTE    INT = NULL,
                                    @MTIPO         INT)
AS
    DECLARE @resultado  VARCHAR(2),
            @mrespuesta VARCHAR(100)

    SET @resultado ='01'
    SET @mrespuesta =''

    BEGIN TRANSACTION

    SELECT @resultado = Count(*)
    FROM   tbl_empleado

  BEGIN try
      IF @MTIPO = 1
        BEGIN
            INSERT INTO tbl_cliente
                        (nombre,
                         direccion,
                         telefono,
                         email,
                         nit,
                         creado_por,
                         estado,
                         fecha_creacion)
            VALUES      (@NOMBRE,
                         @DIRECCION,
                         @TELEFONO,
                         @EMAIL,
                         @NIT,
                         @CREADO_POR,
                         1,
                         Getdate());

            SELECT @resultado AS RESULTADO;
        END

      IF @MTIPO = 2
        BEGIN
            UPDATE tbl_cliente
            SET    nombre = @NOMBRE,
                   direccion = @DIRECCION,
                   telefono = @TELEFONO,
                   email = @EMAIL,
                   nit = @NIT
            WHERE  id_cliente = @ID_CLIENTE;
			SELECT @resultado AS RESULTADO;
        END

      IF @MTIPO = 3
        BEGIN
            UPDATE tbl_cliente
            SET    estado = 0
            WHERE  id_cliente = @ID_CLIENTE;
			SELECT @resultado AS RESULTADO;
        END

      IF @MTIPO = 4
        BEGIN
            SELECT  id_cliente,
					nombre,
                    direccion,
                    telefono,
                    email,
				    nit,
                    estado
            FROM   tbl_cliente
            ORDER  BY nombre;
        END

      COMMIT TRANSACTION
  END try

  BEGIN catch
      -- si existe error,  ingresa al CATCH y alli podemos manejar la informacion
      ROLLBACK TRANSACTION;

      PRINT Error_message()

      PRINT Error_line()

      --insert into pv_transac_sistemas_log (cod_pais,cod_emp,sistema,fecha,modulo,tipo_error,mensaje,procedimiento,correo) values (@mcod_pais,@mcod_emp,@msistema,getdate(),@modulo, ERROR_NUMBER(),ERROR_MESSAGE(),ERROR_LINE(),'N')
      IF Error_number() = 70203
        BEGIN
            -- SELECT ERROR_NUMBER() AS NumeroError, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS StadoError, ERROR_PROCEDURE() AS Procedimiento, ERROR_LINE() AS LineaError, ERROR_MESSAGE() AS MensajeError
            SELECT Error_message() AS codigo_respuesta,
                   @mrespuesta     mensaje_respuesta
        END;
  END catch
GO
/****** Object:  StoredProcedure [dbo].[sp_inventario]    Script Date: 29/10/2022 23:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_inventario] (@NOMBRE VARCHAR(50) = NULL,
@DESCRIPCION                                   VARCHAR(200) = NULL,
@CREADO_POR                                    VARCHAR(50) = NULL,
@ID_PRODUCTO                                   INT = NULL,
@ID_MODELO                                     INT = NULL,
@ID_BODEGA                                     INT = NULL,
@ID_SUBCATEGORIA                               INT null,
@ID_PROVEEDOR                                  int NULL,
@ID_MARCA_REPUESTO                             int NULL,
@ID_SERIE_VEHICULO                             int NULL,
@PRECIO_COSTO                                  decimal = NULL,
@PRECIO_VENTA                                  decimal = NULL,
@STOCK                                         int = NULL,
@CODIGO                                        varchar(25) = NULL,
@MTIPO                                         int)
AS
  DECLARE @resultado varchar(2),
    @mrespuesta      varchar(100)
  SET @resultado ='01'
  SET @mrespuesta =''
  BEGIN TRANSACTION
  BEGIN try
    /***********************CATEGORIA***********************/
    /****** PRODUCTO*/
    IF @MTIPO = 1
    BEGIN
      INSERT INTO tbl_producto
                  (
                              nombre,
                              descripcion,
                              precio_costo,
                              precio_venta,
                              stock,
                              codigo,
                              id_bodega,
                              id_modelo,
                              id_marca_repuesto,
                              id_proveedor,
                              id_subcategoria,
                              id_serie_vehiculo,
                              creado_por,
                              estado,
                              fecha_creacion
                  )
                  VALUES
                  (
                              @NOMBRE,
                              @DESCRIPCION,
                              @PRECIO_COSTO,
                              @PRECIO_VENTA,
                              @STOCK,
                              @CODIGO,
                              @ID_BODEGA,
                              @ID_MODELO,
                              @ID_MARCA_REPUESTO,
                              @ID_PROVEEDOR,
                              @ID_SUBCATEGORIA,
                              @ID_SERIE_VEHICULO,
                              @CREADO_POR,
                              1,
                              getdate()
                  )
      SELECT @resultado AS resultado;
    
    end
    IF @MTIPO = 34
    BEGIN
      SELECT    a.id_producto,
                a.nombre,
                a.descripcion,
                a.precio_costo,
                a.precio_venta,
                a.stock,
                a.codigo,
                a.estado,
                a.creado_por,
                a.fecha_creacion,
                b.id_bodega,
                b.nombre AS nombre_bodega,
                c.id_categoria,
                c.nombre AS nombre_categoria,
                d.id_modelo,
                c.nombre AS nombre_modelo,
                e.id_proveedor,
                e.nombre AS nombre_proveedor,
                f.id_marca_repuesto,
                f.nombre AS nombre_marca_repuesto,
                g.id_serie_vehiculo,
                g.nombre AS nombre_serie_vehiculo
      FROM      tbl_producto a
      LEFT JOIN tbl_bodega b
      ON        b.id_bodega=a.id_bodega
      LEFT JOIN tbl_subcategoria c
      ON        c.id_subcategoria=a.id_subcategoria
      LEFT JOIN tbl_modelo d
      ON        d.id_modelo=a.id_modelo
      LEFT JOIN tbl_proveedor e
      ON        e.id_proveedor=a.id_proveedor
      LEFT JOIN tbl_marca_repuesto f
      ON        f.id_marca_repuesto=a.id_marca_repuesto
      LEFT JOIN tbl_serie_vehiculo g
      ON        g.id_serie_vehiculo=a.id_serie_vehiculo
    END
    IF @MTIPO = 2
    BEGIN
      UPDATE tbl_producto
      SET    nombre = @NOMBRE,
             descripcion = @DESCRIPCION,
             precio_costo = @PRECIO_COSTO,
             precio_venta = @PRECIO_VENTA,
             stock = @STOCK,
             codigo = @CODIGO,
             id_bodega=@ID_BODEGA,
             id_modelo=@ID_MODELO,
             id_proveedor=@ID_PROVEEDOR,
             id_marca_repuesto=@ID_MARCA_REPUESTO,
             id_subcategoria=@ID_SUBCATEGORIA,
             id_serie_vehiculo=@ID_SERIE_VEHICULO
      WHERE  id_producto = @ID_PRODUCTO;
      
      select @resultado AS resultado;
    
    end
    IF @MTIPO = 3
    BEGIN
      UPDATE tbl_producto
      SET    estado = 0
      WHERE  id_producto = @ID_PRODUCTO;
      
      select @resultado AS resultado;
    
    end
    COMMIT TRANSACTION
  END try
  BEGIN catch
    -- si existe error,  ingresa al CATCH y alli podemos manejar la informacion
    ROLLBACK TRANSACTION;
    print error_message()
    PRINT error_line()
    --insert into pv_transac_sistemas_log (cod_pais,cod_emp,sistema,fecha,modulo,tipo_error,mensaje,procedimiento,correo) values (@mcod_pais,@mcod_emp,@msistema,getdate(),@modulo, ERROR_NUMBER(),ERROR_MESSAGE(),ERROR_LINE(),'N')
    IF error_number() = 70203
    BEGIN
      -- SELECT ERROR_NUMBER() AS NumeroError, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS StadoError, ERROR_PROCEDURE() AS Procedimiento, ERROR_LINE() AS LineaError, ERROR_MESSAGE() AS MensajeError
      SELECT error_message() AS codigo_respuesta,
             @mrespuesta        mensaje_respuesta
    END;
  end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_inventario_create]    Script Date: 29/10/2022 23:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_inventario_create] (@NOMBRE VARCHAR(50) = NULL,
@DESCRIPCION                                          VARCHAR(200) = NULL,
@ESTANTE                                              INT = NULL,
@NIVEL                                                INT = NULL,
@ANIO_INICIAL                                         INT null,
@ANIO_FINAL                                           int NULL,
@CREADO_POR                                           varchar(50) = NULL,
@ID_CATEGORIA                                         int = NULL,
@ID_MARCA_VEHICULO                                    int NULL,
@TELEFONO                                             varchar(15) = NULL,
@DIRECCION                                            varchar(2000) = NULL,
@CONTACTO                                             varchar(50) = NULL,
@ID INT = NULL,
@MTIPO                                                int)
AS
  DECLARE @resultado varchar(2),
    @mrespuesta      varchar(100)
  SET @resultado ='01'
  SET @mrespuesta =''
  BEGIN TRANSACTION
  BEGIN try
    /***********************BODEGA***********************/
    IF @MTIPO = 1
    BEGIN
      INSERT INTO tbl_bodega
                  (
                              nombre,
                              estanteria,
                              nivel,
                              creado_por,
                              estado,
                              fecha_creacion
                  )
                  VALUES
                  (
                              @NOMBRE,
                              @ESTANTE,
                              @NIVEL,
                              @CREADO_POR,
                              1,
                              getdate()
                  );
      
      select @resultado AS resultado;
    
    end
    IF @MTIPO = 2
    BEGIN
      UPDATE tbl_bodega
      SET    nombre =@NOMBRE,
             estanteria =@ESTANTE,
             nivel =@NIVEL
      WHERE  id_bodega =@ID;
      
      select @resultado AS resultado;
    
    end
    /***********************MODELO***********************/
    IF @MTIPO = 3
    BEGIN
      INSERT INTO tbl_modelo
                  (
                              anio_inicial,
                              anio_final,
                              creado_por,
                              estado,
                              fecha_creacion
                  )
                  VALUES
                  (
                              @ANIO_INICIAL,
                              @ANIO_FINAL,
                              @CREADO_POR,
                              1,
                              getdate()
                  );
      
      select @resultado AS resultado;
    
    end
    IF @MTIPO = 4
    BEGIN
      UPDATE tbl_modelo
      SET    anio_inicial =@ANIO_INICIAL,
             anio_final =@ANIO_FINAL
      WHERE  id_modelo =@ID;
      
      select @resultado AS resultado;
    
    end
    /***********************PROVEEDOR**********************/
    IF @MTIPO = 5
    BEGIN
      INSERT INTO tbl_proveedor
                  (
                              nombre,
                              descripcion,
                              telefono,
                              direccion,
                              contacto,
                              creado_por,
                              estado,
                              fecha_creacion
                  )
                  VALUES
                  (
                              @NOMBRE,
                              @DESCRIPCION,
                              @TELEFONO,
                              @DIRECCION,
                              @CONTACTO,
                              @CREADO_POR,
                              1,
                              getdate()
                  );
      
      select @resultado AS resultado;
    
    end
    IF @MTIPO = 6
    BEGIN
      UPDATE tbl_proveedor
      SET    nombre =@NOMBRE,
             descripcion=@DESCRIPCION,
             telefono = @TELEFONO,
             direccion =@DIRECCION,
             contacto=@CONTACTO
      WHERE  id_proveedor=@ID;
      
      select @resultado AS resultado;
    
    end
    /***********************MARCA REPUESTO***********************/
    IF @MTIPO = 7
    BEGIN
      INSERT INTO tbl_marca_repuesto
                  (
                              nombre,
                              descripcion,
                              creado_por,
                              estado,
                              fecha_creacion
                  )
                  VALUES
                  (
                              @NOMBRE,
                              @DESCRIPCION,
                              @CREADO_POR,
                              1,
                              getdate()
                  );
      
      select @resultado AS resultado;
    
    end
    IF @MTIPO = 8
    BEGIN
      UPDATE tbl_marca_repuesto
      SET    nombre =@NOMBRE,
             descripcion=@DESCRIPCION
      WHERE  id_marca_repuesto=@ID;
      
      select @resultado AS resultado;
    
    end
    /***********************CATEGORIA***********************/
    IF @MTIPO = 9
    BEGIN
      INSERT INTO tbl_categoria
                  (
                              nombre,
                              descripcion,
                              creado_por,
                              estado,
                              fecha_creacion
                  )
                  VALUES
                  (
                              @NOMBRE,
                              @DESCRIPCION,
                              @CREADO_POR,
                              1,
                              getdate()
                  );
      
      select @resultado AS resultado;
    
    end
    IF @MTIPO = 10
    BEGIN
      UPDATE tbl_categoria
      SET    nombre =@NOMBRE,
             descripcion=@DESCRIPCION
      WHERE  id_categoria=@ID;
      
      select @resultado AS resultado;
    
    end
    /***********************SUB CATEGORIA***********************/
    IF @MTIPO = 11
    BEGIN
      INSERT INTO tbl_subcategoria
                  (
                              nombre,
                              descripcion,
                              id_categoria,
                              creado_por,
                              estado,
                              fecha_creacion
                  )
                  VALUES
                  (
                              @NOMBRE,
                              @DESCRIPCION,
                              @ID_CATEGORIA,
                              @CREADO_POR,
                              1,
                              getdate()
                  );
      
      select @resultado AS resultado;
    
    end
    IF @MTIPO = 12
    BEGIN
      UPDATE tbl_subcategoria
      SET    nombre =@NOMBRE,
             descripcion =@DESCRIPCION,
             id_categoria=@ID_CATEGORIA
      WHERE  id_subcategoria=@ID;
      
      select @resultado AS resultado;
    
    end
    /***********************MARCA VEHICULO***********************/
    IF @MTIPO = 13
    BEGIN
      INSERT INTO tbl_marca_vehiculo
                  (
                              nombre,
                              descripcion,
                              creado_por,
                              estado,
                              fecha_creacion
                  )
                  VALUES
                  (
                              @NOMBRE,
                              @DESCRIPCION,
                              @CREADO_POR,
                              1,
                              getdate()
                  );
      
      select @resultado AS resultado;
    
    end
    IF @MTIPO = 14
    BEGIN
      UPDATE tbl_marca_vehiculo
      SET    nombre =@NOMBRE,
             descripcion=@DESCRIPCION
      WHERE  id_marca_vehiculo=@ID;
      
      select @resultado AS resultado;
    
    end
    /***********************SERIE VEHICULO***********************/
    IF @MTIPO = 15
    BEGIN
      INSERT INTO tbl_serie_vehiculo
                  (
                              nombre,
                              descripcion,
                              id_marca_vehiculo,
                              creado_por,
                              estado,
                              fecha_creacion
                  )
                  VALUES
                  (
                              @NOMBRE,
                              @DESCRIPCION,
                              @ID_MARCA_VEHICULO,
                              @CREADO_POR,
                              1,
                              getdate()
                  );
      
      select @resultado AS resultado;
    
    end
    IF @MTIPO = 16
    BEGIN
      UPDATE tbl_serie_vehiculo
      SET    nombre =@NOMBRE,
             descripcion =@DESCRIPCION,
             id_marca_vehiculo =@ID_MARCA_VEHICULO
      WHERE  id_serie_vehiculo =@ID;
      
      select @resultado AS resultado;
    
    end
    COMMIT TRANSACTION
  END try
  BEGIN catch
    -- si existe error,  ingresa al CATCH y alli podemos manejar la informacion
    ROLLBACK TRANSACTION;
    print error_message()
    PRINT error_line()
    --insert into pv_transac_sistemas_log (cod_pais,cod_emp,sistema,fecha,modulo,tipo_error,mensaje,procedimiento,correo) values (@mcod_pais,@mcod_emp,@msistema,getdate(),@modulo, ERROR_NUMBER(),ERROR_MESSAGE(),ERROR_LINE(),'N')
    IF error_number() = 70203
    BEGIN
      -- SELECT ERROR_NUMBER() AS NumeroError, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS StadoError, ERROR_PROCEDURE() AS Procedimiento, ERROR_LINE() AS LineaError, ERROR_MESSAGE() AS MensajeError
      SELECT error_message() AS codigo_respuesta,
             @mrespuesta        mensaje_respuesta
    END;
  end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_inventario_delete]    Script Date: 29/10/2022 23:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_inventario_delete] (@ID INT NULL,
@MTIPO                                         int)
AS
  DECLARE @resultado varchar(2),
    @mrespuesta      varchar(100)
  SET @resultado ='01'
  SET @mrespuesta =''
  BEGIN TRANSACTION
  BEGIN try
    /***********************CATEGORIA***********************/
    IF @MTIPO = 1
    BEGIN
      UPDATE tbl_categoria
      SET    estado = 0
      WHERE  id_categoria = @ID;      

      select @resultado AS resultado;    
    end
    /***********************SUB CATEGORIA***********************/
    IF @MTIPO = 2
    BEGIN
      UPDATE tbl_subcategoria
      SET    estado = 0
      WHERE  id_categoria = @ID;      
      select @resultado AS resultado;    
    end
    /***********************MODELO***********************/
    IF @MTIPO = 3
    BEGIN
      UPDATE tbl_modelo
      SET    estado = 0
      WHERE  id_modelo = @ID;      
      select @resultado AS resultado;    
    end
    /***********************BODEGA***********************/
    IF @MTIPO = 4
    BEGIN
      UPDATE tbl_bodega
      SET    estado = 0
      WHERE  id_bodega = @ID;      
      select @resultado AS resultado;    
    end
	/***********************PROVEEDOR**********************/
    IF @MTIPO = 5
    BEGIN
      UPDATE tbl_proveedor
      SET    estado = 0
      WHERE  id_proveedor= @ID;      
      select @resultado AS resultado;    
    end
    /***********************MARCA REPUEST***********************/    
    IF @MTIPO = 6
    BEGIN
      UPDATE tbl_marca_repuesto
      SET    estado = 0
      WHERE  id_marca_repuesto= @ID;      
      select @resultado AS resultado;    
    end
    /***********************MARCA VEHICULO***********************/
    IF @MTIPO = 7
    BEGIN
      UPDATE tbl_marca_vehiculo
      SET    estado = 0
      WHERE  id_marca_vehiculo= @ID;      
      select @resultado AS resultado;    
    end
    /***********************MARCA VEHICULO***********************/
    IF @MTIPO = 8
    BEGIN
      UPDATE tbl_serie_vehiculo
      SET    estado = 0
      WHERE  id_serie_vehiculo= @ID;      
      select @resultado AS resultado;    
    end
    /****** PRODUCTO*/    
    IF @MTIPO = 9
    BEGIN
      UPDATE tbl_producto
      SET    estado = 0
      WHERE  id_producto = @ID;
      
      select @resultado AS resultado;
    
    end
    COMMIT TRANSACTION
  END try
  BEGIN catch
    -- si existe error,  ingresa al CATCH y alli podemos manejar la informacion
    ROLLBACK TRANSACTION;
    print error_message()
    PRINT error_line()
    --insert into pv_transac_sistemas_log (cod_pais,cod_emp,sistema,fecha,modulo,tipo_error,mensaje,procedimiento,correo) values (@mcod_pais,@mcod_emp,@msistema,getdate(),@modulo, ERROR_NUMBER(),ERROR_MESSAGE(),ERROR_LINE(),'N')
    IF error_number() = 70203
    BEGIN
      -- SELECT ERROR_NUMBER() AS NumeroError, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS StadoError, ERROR_PROCEDURE() AS Procedimiento, ERROR_LINE() AS LineaError, ERROR_MESSAGE() AS MensajeError
      SELECT error_message() AS codigo_respuesta,
             @mrespuesta        mensaje_respuesta
    END;
  end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_inventario_select]    Script Date: 29/10/2022 23:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_inventario_select] (@MTIPO int, @ID int = null)
AS
  BEGIN TRANSACTION
  BEGIN try
    /***********************CATEGORIA***********************/
    IF @MTIPO = 1
    BEGIN
      SELECT nombre,
             descripcion,
             estado,
             id_categoria
      FROM   tbl_categoria;    
    end
	IF @MTIPO = 2
    BEGIN
      SELECT nombre,
             descripcion,
             estado,
             id_categoria
      FROM   tbl_categoria
	  WHERE estado=1;
    end
    /***********************SUB CATEGORIA***********************/    
    IF @MTIPO = 3
    BEGIN
      SELECT a.nombre,
             a.descripcion,
             a.estado,
             a.id_categoria,
             a.id_subcategoria,
			 b.NOMBRE as NOMBRE_CATEGORIA
      FROM   tbl_subcategoria a
	  inner join TBL_CATEGORIA b on a.ID_CATEGORIA=b.ID_CATEGORIA;    
    end
    IF @MTIPO = 4
    BEGIN
      SELECT nombre,
             descripcion,
             estado,
             id_categoria,
             id_subcategoria
      FROM   tbl_subcategoria
	  where estado=1 and ID_CATEGORIA=@ID;
    end
	/***********************MODELO***********************/
    IF @MTIPO = 5
    BEGIN
      SELECT anio_inicial,
             anio_final,
             estado,
             id_modelo
      FROM   tbl_modelo;    
    end
	IF @MTIPO = 6
    BEGIN
      SELECT anio_inicial,
             anio_final,
             estado,
             id_modelo
      FROM   tbl_modelo
	  where estado=1;
    end
    /***********************BODEGA***********************/
    IF @MTIPO = 7
    BEGIN
      SELECT nombre,
             estanteria,
             nivel,
             estado,
             id_bodega
      FROM   tbl_bodega;    
    end
	IF @MTIPO = 8
    BEGIN
      SELECT nombre,
             estanteria,
             nivel,
             estado,
             id_bodega
      FROM   tbl_bodega
	  --where estado=1;
    end
    /***********************PROVEEDOR***********************/    
	IF @MTIPO = 9
    BEGIN
      SELECT nombre,
             descripcion, id_proveedor, estado, telefono, direccion, contacto
      FROM   tbl_proveedor;    
    end
	IF @MTIPO = 10
    BEGIN
      SELECT nombre,
             descripcion, id_proveedor
      FROM   tbl_proveedor
	  where estado=1;
    end
    /***********************MARCA REPUEST***********************/
    IF @MTIPO = 11
    BEGIN
      SELECT nombre, descripcion, id_marca_repuesto, estado
      FROM   tbl_marca_repuesto;    
    end
	IF @MTIPO = 12
    BEGIN
      SELECT nombre,
             descripcion, id_marca_repuesto
      FROM   tbl_marca_repuesto
	  where estado=1;
    end
    /***********************MARCA VEHICULO***********************/    
	IF @MTIPO = 13
    BEGIN
      SELECT id_marca_vehiculo, nombre, descripcion, estado FROM   tbl_marca_vehiculo;
    end
	IF @MTIPO = 14
    BEGIN
      SELECT nombre,
             descripcion, id_marca_vehiculo
      FROM   tbl_marca_vehiculo
	  where estado=1;
    end
    /***********************SERIE VEHICULO***********************/
    IF @MTIPO = 15
    BEGIN
      SELECT a.nombre,
             a.descripcion,
             a.estado,
             a.id_marca_vehiculo,
             a.ID_SERIE_VEHICULO,
			 b.NOMBRE as NOMBRE_MARCA_VEHICULO
      FROM   TBL_SERIE_VEHICULO a
	  inner join TBL_MARCA_VEHICULO b on a.id_marca_vehiculo=b.id_marca_vehiculo;    
    end
	IF @MTIPO = 16
    BEGIN
      SELECT nombre,
             nombre,
             descripcion, id_serie_vehiculo,
             id_marca_vehiculo
      FROM   tbl_serie_vehiculo
	  where estado=1 and ID_MARCA_VEHICULO=@ID;
    end
    /****** PRODUCTO*/    
	IF @MTIPO = 17
    BEGIN
      SELECT    a.id_producto,
                a.nombre,
                a.descripcion,
                a.precio_costo,
                a.precio_venta,
                a.stock,
                a.codigo,
                a.estado,
                a.creado_por,
                a.fecha_creacion,
                b.id_bodega,
                b.nombre AS nombre_bodega,
                c.id_categoria,
                c.nombre AS nombre_categoria,
                d.id_modelo,
                c.nombre AS nombre_modelo,
                e.id_proveedor,
                e.nombre AS nombre_proveedor,
                f.id_marca_repuesto,
                f.nombre AS nombre_marca_repuesto
      FROM      tbl_producto a
      LEFT JOIN tbl_bodega b
      ON        b.id_bodega=a.id_bodega
      LEFT JOIN tbl_subcategoria c
      ON        c.id_subcategoria=a.id_subcategoria
      LEFT JOIN tbl_modelo d
      ON        d.id_modelo=a.id_modelo
      LEFT JOIN tbl_proveedor e
      ON        e.id_proveedor=a.id_proveedor
      LEFT JOIN tbl_marca_repuesto f
      ON        f.id_marca_repuesto=a.id_marca_repuesto
    END

	/***********************SUB CATEGORIA***********************/    
    IF @MTIPO = 18
    BEGIN
      SELECT a.nombre,
             a.descripcion,
             a.estado,
             a.id_marca_vehiculo,
             a.ID_SERIE_VEHICULO,
			 b.NOMBRE as NOMBRE_MARCA_VEHICULO
      FROM   TBL_SERIE_VEHICULO a
	  inner join TBL_MARCA_VEHICULO b on a.id_marca_vehiculo=b.id_marca_vehiculo;    
    end
    IF @MTIPO = 19
    BEGIN
      SELECT nombre,
             descripcion,
             estado,
             ID_SERIE_VEHICULO
      FROM   TBL_SERIE_VEHICULO
	  where estado=1;
    end

	/***********************PRODUCTO***********************/    
	IF @MTIPO = 20
    BEGIN
		SELECT    a.id_producto,
                a.nombre,
                a.descripcion,
                a.precio_costo,
                a.precio_venta,
                a.stock,
                a.codigo, a.codigo2,
                a.estado,
                a.creado_por,
                a.fecha_creacion,
                b.id_bodega,
                b.nombre AS nombre_bodega,
				d.ID_MODELO,
				CONCAT(d.ANIO_INICIAL,' - ',d.ANIO_FINAL) as NOMBRE_MODELO,
				E.ID_PROVEEDOR,
				E.NOMBRE AS NOMBRE_PROVEEDOR,
				F.ID_MARCA_REPUESTO,
				F.NOMBRE AS NOMBRE_MARCA_REPUESTO,
				H.ID_CATEGORIA,
				H.NOMBRE AS NOMBRE_CATEGORIA,
				C.ID_SUBCATEGORIA,
				C.NOMBRE AS NOMBRE_SUBCATEGORIA		
      FROM      tbl_producto a
      LEFT JOIN tbl_bodega b
      ON        b.id_bodega=a.id_bodega
      LEFT JOIN tbl_subcategoria c
      ON        c.id_subcategoria=a.id_subcategoria
      LEFT JOIN tbl_modelo d
      ON        d.id_modelo=a.id_modelo
      LEFT JOIN tbl_proveedor e
      ON        e.id_proveedor=a.id_proveedor
      LEFT JOIN tbl_marca_repuesto f
      ON        f.id_marca_repuesto=a.id_marca_repuesto
	  LEFT JOIN TBL_CATEGORIA H
      ON        H.ID_CATEGORIA=C.ID_CATEGORIA
    end


    COMMIT TRANSACTION
  END try
  BEGIN catch
    -- si existe error,  ingresa al CATCH y alli podemos manejar la informacion
    ROLLBACK TRANSACTION;
    print error_message()
    PRINT error_line()
    --insert into pv_transac_sistemas_log (cod_pais,cod_emp,sistema,fecha,modulo,tipo_error,mensaje,procedimiento,correo) values (@mcod_pais,@mcod_emp,@msistema,getdate(),@modulo, ERROR_NUMBER(),ERROR_MESSAGE(),ERROR_LINE(),'N')
    IF error_number() = 70203
    BEGIN
      -- SELECT ERROR_NUMBER() AS NumeroError, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS StadoError, ERROR_PROCEDURE() AS Procedimiento, ERROR_LINE() AS LineaError, ERROR_MESSAGE() AS MensajeError
      SELECT error_message() AS codigo_respuesta
    END;
  end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_inventario_update]    Script Date: 29/10/2022 23:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_inventario_update] (@NOMBRE VARCHAR(50) = NULL,
@DESCRIPCION                                   VARCHAR(200) = NULL,
@ESTANTE                                       INT = NULL,
@NIVEL                                         INT = NULL,
@ID_MARCA_VEHICULO                             INT NULL,
@ID_CATEGORIA INT NULL,
@ID INT NULL,
@ANIO_INICIAL                                  INT NULL,
@ANIO_FINAL                                    INT NULL,
@MTIPO                                         int)
AS
  DECLARE @resultado varchar(2),
    @mrespuesta      varchar(100)
  SET @resultado ='01'
  SET @mrespuesta =''
  BEGIN TRANSACTION
  BEGIN try
    /***********************CATEGORIA***********************/	
    IF @MTIPO = 1
    BEGIN
      UPDATE tbl_categoria
      SET    nombre = @NOMBRE,
             descripcion = @DESCRIPCION
      WHERE  id_categoria = @ID;
      
      select @resultado AS resultado;
    
    end
    /***********************SUB CATEGORIA***********************/
    IF @MTIPO = 2
    BEGIN
      UPDATE tbl_subcategoria
      SET    nombre = @NOMBRE,
             descripcion = @DESCRIPCION,
             id_categoria=@ID_CATEGORIA
      WHERE  id_subcategoria = @ID;
      
      select @resultado AS resultado;
    
    end
    /***********************MODELO***********************/    
    IF @MTIPO = 3
    BEGIN
      UPDATE tbl_modelo
      SET    anio_inicial = @ANIO_INICIAL,
             anio_final = @ANIO_FINAL
      WHERE  id_modelo = @ID;
      
      select @resultado AS resultado;
    
    end
    /***********************BODEGA***********************/
    IF @MTIPO = 4
    BEGIN
      UPDATE tbl_bodega
      SET    nombre = @NOMBRE,
             estanteria = @ESTANTE,
             nivel = @NIVEL
      WHERE  id_bodega = @ID;
      
      select @resultado AS resultado;
    
    end
	/***********************PROVEEDOR**********************/
    IF @MTIPO = 5
    BEGIN
      UPDATE tbl_proveedor
      SET    nombre = @NOMBRE,
             descripcion=@DESCRIPCION
      WHERE  id_proveedor = @ID;
      
      select @resultado AS resultado;
    
    end
	/***********************MARCA REPUEST***********************/
    IF @MTIPO = 6
    BEGIN
      UPDATE tbl_marca_repuesto
      SET    nombre = @NOMBRE,
             descripcion=@DESCRIPCION
      WHERE  id_marca_repuesto= @ID;
      
      select @resultado AS resultado;
    
    end
    /***********************MARCA VEHICULO***********************/
    IF @MTIPO = 7
    BEGIN
      UPDATE tbl_marca_vehiculo
      SET    nombre = @NOMBRE,
             descripcion=@DESCRIPCION
      WHERE  id_marca_vehiculo= @ID;
      
      select @resultado AS resultado;
    
    end
	/***********************MARCA VEHICULO***********************/
	IF @MTIPO = 8
    BEGIN
      UPDATE tbl_serie_vehiculo
      SET    nombre = @NOMBRE,
             descripcion=@DESCRIPCION,
             id_marca_vehiculo=@ID_MARCA_VEHICULO
      WHERE  id_serie_vehiculo= @ID;
      
      select @resultado AS resultado;
    
    end	
    COMMIT TRANSACTION
  END try
  BEGIN catch
    -- si existe error,  ingresa al CATCH y alli podemos manejar la informacion
    ROLLBACK TRANSACTION;
    print error_message()
    PRINT error_line()
    --insert into pv_transac_sistemas_log (cod_pais,cod_emp,sistema,fecha,modulo,tipo_error,mensaje,procedimiento,correo) values (@mcod_pais,@mcod_emp,@msistema,getdate(),@modulo, ERROR_NUMBER(),ERROR_MESSAGE(),ERROR_LINE(),'N')
    IF error_number() = 70203
    BEGIN
      -- SELECT ERROR_NUMBER() AS NumeroError, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS StadoError, ERROR_PROCEDURE() AS Procedimiento, ERROR_LINE() AS LineaError, ERROR_MESSAGE() AS MensajeError
      SELECT error_message() AS codigo_respuesta,
             @mrespuesta        mensaje_respuesta
    END;
  end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_login]    Script Date: 29/10/2022 23:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_login](@USUARIO  VARCHAR(50) = NULL,
                                           @PASSWORD VARCHAR(50) = NULL,
                                           @MTIPO    INT)
AS
    DECLARE @resultado  VARCHAR(2),
            @mrespuesta VARCHAR(100),
            @rows       INT

    SET @mrespuesta =''

    BEGIN TRANSACTION

  BEGIN try
      SELECT @rows = Count(*)
      FROM   tbl_usuario a
             INNER JOIN tbl_empleado b
                     ON a.id_empleado = b.id_empleado
      WHERE  a.usuario = @USUARIO
             AND a.contraseña = @PASSWORD;

      IF @MTIPO = 1
        BEGIN
            IF @rows > 0
              BEGIN
                  SET @resultado='01';

                  SELECT @resultado AS RESULTADO,
                         a.id_usuario,
                         a.usuario,
                         b.primer_nombre,
                         b.segundo_nombre,
                         b.PRIMER_APELLIDO,
                         b.segundo_apellido,
						 a.url_pantalla,
						 b.url_fotografia as path
                  FROM   tbl_usuario a
                         INNER JOIN tbl_empleado b
                                 ON a.id_empleado = b.id_empleado
                  WHERE  a.usuario = @USUARIO
                         AND a.contraseña = @PASSWORD;
              END
            ELSE
              BEGIN
                  SET @resultado='00'
              END
        END

      COMMIT TRANSACTION
  END try

  BEGIN catch
      -- si existe error,  ingresa al CATCH y alli podemos manejar la informacion
      ROLLBACK TRANSACTION;

      PRINT Error_message()

      PRINT Error_line()

      --insert into pv_transac_sistemas_log (cod_pais,cod_emp,sistema,fecha,modulo,tipo_error,mensaje,procedimiento,correo) values (@mcod_pais,@mcod_emp,@msistema,getdate(),@modulo, ERROR_NUMBER(),ERROR_MESSAGE(),ERROR_LINE(),'N')
      IF Error_number() = 70203
        BEGIN
            -- SELECT ERROR_NUMBER() AS NumeroError, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS StadoError, ERROR_PROCEDURE() AS Procedimiento, ERROR_LINE() AS LineaError, ERROR_MESSAGE() AS MensajeError
            SELECT Error_message() AS codigo_respuesta,
                   @mrespuesta     mensaje_respuesta
        END;
  END catch
GO
/****** Object:  StoredProcedure [dbo].[sp_usuarios]    Script Date: 29/10/2022 23:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_usuarios](@PRIMER_NOMBRE    VARCHAR(50) = NULL,
                                           @SEGUNDO_NOMBRE   VARCHAR(50) = NULL,
                                           @PRIMER_APELLIDO  VARCHAR(50) = NULL,
                                           @SEGUNDO_APELLIDO VARCHAR(50) = NULL,
                                           @DIRECCION        VARCHAR(50) = NULL,
                                           @TELEFONO         VARCHAR(50) = NULL,
                                           @ID_TIPO_EMPLEADO INT = NULL,
                                           @EMAIL            VARCHAR(50) = NULL,
                                           @CREADO_POR       VARCHAR(50) = NULL,
                                           @USUARIO          VARCHAR(50) = NULL,
                                           @PASSWORD         VARCHAR(50) = NULL,
                                           @ID_ROL           INT = NULL,
										   @URL_FOTOGRAFIA   VARCHAR(150) = NULL,
                                           @MTIPO            INT)
AS
    DECLARE @rows       INT,
            @fecha      DATETIME,
            @idEmpleado INT,
            @resultado  VARCHAR(2),
            @mrespuesta VARCHAR(100)

    SET @resultado ='01'
    SET @mrespuesta =''
    SET @fecha =Getdate()

    /*
    ---Inserta Bitacora
    insert into pv_sistemas_bitacora (cod_pais,cod_emp,sistema,modulo,tipo,fecha,usuario,comentario) 
    values (@mcod_pais,@mcod_emp,@msistema,@modulo,@mtipo,getdate(),@musuario,@accesion+' '+@mguia+' ')
    */
    BEGIN TRANSACTION

    SELECT @resultado = Count(*)
    FROM   tbl_empleado

    IF @resultado > 0
      BEGIN
          SELECT @idEmpleado = Max(id_empleado) + 1 FROM   tbl_empleado;
      END
    ELSE
      BEGIN
          SET @idEmpleado=1;
      END

  BEGIN try
      IF @MTIPO = 1
        BEGIN
            INSERT INTO tbl_empleado
                        (id_empleado,
                         primer_nombre,
                         segundo_nombre,
                         primer_apellido,
                         segundo_apellido,
                         direccion,
                         telefono,
                         id_tipo_empleado,
                         email,
						 url_fotografia,
                         creado_por,
                         estado,
                         fecha_creacion)
            VALUES      (@idEmpleado,
                         @PRIMER_NOMBRE,
                         @SEGUNDO_NOMBRE,
                         @PRIMER_APELLIDO,
                         @SEGUNDO_APELLIDO,
                         @DIRECCION,
                         @TELEFONO,
                         @ID_TIPO_EMPLEADO,
                         @EMAIL,
						 @URL_FOTOGRAFIA,
                         @CREADO_POR,
                         1,
                         @fecha);

            INSERT INTO tbl_usuario
                        (usuario,
                         contraseña,
                         id_empleado,
                         id_rol,
						 url_pantalla,
                         creado_por,
                         estado,
                         fecha_creacion)
            VALUES      (@USUARIO,
                         @PASSWORD,
                         @idEmpleado,
                         @ID_ROL,
						 'Default/Index',
                         @CREADO_POR,
                         1,
                         @fecha);
            
			SELECT*FROM TBL_EMPLEADO WHERE ID_EMPLEADO=@idEmpleado;
        END

      IF @MTIPO = 2
        BEGIN
            SELECT id_tipo_empleado,
                   nombre,
                   descripcion
            FROM   tbl_tipo_empleado
            WHERE  estado = 1
            ORDER  BY nombre;

            --SELECT @mrespuesta AS RESPUESTA
        END

      IF @MTIPO = 3
        BEGIN
            SELECT id_rol,
                   nombre,
                   descripcion
            FROM   tbl_rol
            WHERE  estado = 1
            ORDER  BY nombre

            --SELECT @mrespuesta AS RESPUESTA
        END
		
      IF @MTIPO = 4
        BEGIN
            --exec sp_usuarios @mtipo=4	

SELECT a.id_usuario,
				   b.id_empleado,
				   a.id_rol,
				   D.NOMBRE AS NOMBRE_ROL,
				   b.id_tipo_empleado,
				   C.NOMBRE AS NOMBRE_TIPO_EMPLEADO,
				   a.usuario,
				   b.primer_nombre,
				   b.segundo_nombre,
				   b.primer_apellido,
				   b.segundo_apellido,
				   b.direccion,
				   b.telefono,
				   b.email,
				   b.estado,
				   a.url_pantalla
			FROM   tbl_usuario a
				   INNER JOIN tbl_empleado b ON a.id_empleado = b.id_empleado 
				   INNER JOIN TBL_TIPO_EMPLEADO C ON C.ID_TIPO_EMPLEADO=B.ID_TIPO_EMPLEADO
				   INNER JOIN TBL_ROL D ON D.ID_ROL=A.ID_ROL
			ORDER BY
				b.PRIMER_NOMBRE;
        END
      COMMIT TRANSACTION
  END try

  BEGIN catch
      -- si existe error,  ingresa al CATCH y alli podemos manejar la informacion
      ROLLBACK TRANSACTION;

      PRINT Error_message()

      PRINT Error_line()

      --insert into pv_transac_sistemas_log (cod_pais,cod_emp,sistema,fecha,modulo,tipo_error,mensaje,procedimiento,correo) values (@mcod_pais,@mcod_emp,@msistema,getdate(),@modulo, ERROR_NUMBER(),ERROR_MESSAGE(),ERROR_LINE(),'N')
      IF Error_number() = 70203
        BEGIN
            -- SELECT ERROR_NUMBER() AS NumeroError, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS StadoError, ERROR_PROCEDURE() AS Procedimiento, ERROR_LINE() AS LineaError, ERROR_MESSAGE() AS MensajeError
            SELECT Error_message() AS codigo_respuesta,
                   @mrespuesta     mensaje_respuesta
        END;
  END catch
/*
INSERT INTO TBL_TIPO_EMPLEADO(NOMBRE, DESCRIPCION, CREADO_POR, ESTADO, FECHA_CREACION)
VALUES('ADMINISTRADOR SISTEMA', 'FULL ACCESS', 'RALOPEZ', 1, GETDATE())
*/
GO
/****** Object:  StoredProcedure [dbo].[sp_ventas]    Script Date: 29/10/2022 23:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ventas] (@MTIPO int, @NIT varchar(20) = null,
@ID_MARCA_REPUESTO INT = NULL,
@ID_SUBCATEGORIA INT = NULL,
@ID_CATEGORIA INT = NULL,
@ID_SERIE_VEHICULO INT = NULL,
@ID_MARCA_VEHICULO INT = NULL,
@ID_MODELO INT = NULL,
@ID_VENTA INT = NULL,
@SERIE VARCHAR(10) = NULL,
@CORRELATIVO DECIMAL = NULL,
@ID_CLIENTE INT = NULL,
@TOTAL DECIMAL = NULL,
@SUBTOTAL DECIMAL = NULL,
@TOTAL_DESCUENTO DECIMAL = NULL,
@CREADO_POR VARCHAR(20)= NULL
)
AS
  BEGIN TRANSACTION
  BEGIN try

	/***********************PRODUCTO***********************/    
	IF @MTIPO = 1
    BEGIN
		SELECT    a.id_producto,
                a.nombre,
                a.descripcion,
                a.precio_costo,
                a.precio_venta,
                a.stock,
                a.codigo,
                a.estado,
                a.creado_por,
                a.fecha_creacion,
                b.id_bodega,
                b.nombre AS nombre_bodega,
				d.ID_MODELO,
				CONCAT(d.ANIO_INICIAL,' - ',d.ANIO_FINAL) as NOMBRE_MODELO,
				E.ID_PROVEEDOR,
				E.NOMBRE AS NOMBRE_PROVEEDOR,
				F.ID_MARCA_REPUESTO,
				F.NOMBRE AS NOMBRE_MARCA_REPUESTO,
				H.ID_CATEGORIA,
				H.NOMBRE AS NOMBRE_CATEGORIA,
				C.ID_SUBCATEGORIA,
				C.NOMBRE AS NOMBRE_SUBCATEGORIA,
				I.ID_MARCA_VEHICULO,
				I.NOMBRE AS NOMBRE_MARCA_VEHICULO,
				G.ID_SERIE_VEHICULO,
				G.NOMBRE AS NOMBRE_SERIE_VEHICULO				
      FROM      tbl_producto a
      LEFT JOIN tbl_bodega b
      ON        b.id_bodega=a.id_bodega
      LEFT JOIN tbl_subcategoria c
      ON        c.id_subcategoria=a.id_subcategoria
      LEFT JOIN tbl_modelo d
      ON        d.id_modelo=a.id_modelo
      LEFT JOIN tbl_proveedor e
      ON        e.id_proveedor=a.id_proveedor
      LEFT JOIN tbl_marca_repuesto f
      ON        f.id_marca_repuesto=a.id_marca_repuesto
      LEFT JOIN tbl_serie_vehiculo g
      ON        g.id_serie_vehiculo=a.id_serie_vehiculo
	  LEFT JOIN TBL_CATEGORIA H
      ON        H.ID_CATEGORIA=C.ID_CATEGORIA
	  LEFT JOIN TBL_MARCA_VEHICULO I
      ON        I.ID_MARCA_VEHICULO=G.ID_MARCA_VEHICULO
	  where a.ESTADO=1 
	  and a.ID_MARCA_REPUESTO=ISNULL(@ID_MARCA_REPUESTO,A.ID_MARCA_REPUESTO)
	  and a.ID_SUBCATEGORIA=ISNULL(@ID_SUBCATEGORIA,A.ID_SUBCATEGORIA)
	  and h.ID_CATEGORIA=ISNULL(@ID_CATEGORIA,h.ID_CATEGORIA)
	  and a.ID_SERIE_VEHICULO=ISNULL(@ID_SERIE_VEHICULO,A.ID_SERIE_VEHICULO)
	  and i.ID_MARCA_VEHICULO=ISNULL(@ID_MARCA_VEHICULO,i.ID_MARCA_VEHICULO)	 
	  and a.ID_MODELO=ISNULL(@ID_MODELO,a.ID_MODELO)	 
	  order by a.STOCK desc;
    end
	IF @MTIPO = 2
	BEGIN
	select ID_CLIENTE, NOMBRE, DIRECCION, TELEFONO, NIT from TBL_CLIENTE where ESTADO=1 AND REPLACE(NIT, '-', '')=REPLACE(@NIT, '-', '');
	END

	IF @MTIPO = 3
	BEGIN
	select ID_CLIENTE, NOMBRE, DIRECCION, TELEFONO, NIT from TBL_CLIENTE where ESTADO=1 ;
	END;

	IF @MTIPO = 4
	BEGIN 
	insert into TBL_VENTA(ID_VENTA, serie, CORRELATIVO, FECHA, ID_CLIENTE, TOTAL, SUBTOTAL, TOTAL_IVA, TOTAL_DESCUENTO, CREADO_POR, ESTADO, FECHA_CREACION, ID_ESTADO_VENTA)
	values (@ID_VENTA, @SERIE, @CORRELATIVO, GETDATE(), @ID_CLIENTE, @TOTAL, @SUBTOTAL, 0, @TOTAL_DESCUENTO, @CREADO_POR, 1, GETDATE(), 1)
	END
	
	IF @MTIPO = 5
	BEGIN 
	insert into TBL_VENTA(ID_VENTA, serie, CORRELATIVO, FECHA, ID_CLIENTE, TOTAL, SUBTOTAL, TOTAL_IVA, TOTAL_DESCUENTO, CREADO_POR, ESTADO, FECHA_CREACION, ID_ESTADO_VENTA)
	values (@ID_VENTA, @SERIE, @CORRELATIVO, GETDATE(), @ID_CLIENTE, @TOTAL, @SUBTOTAL, 0, @TOTAL_DESCUENTO, @CREADO_POR, 1, GETDATE(), 1)
	END

    COMMIT TRANSACTION
  END try
  BEGIN catch
    -- si existe error,  ingresa al CATCH y alli podemos manejar la informacion
    ROLLBACK TRANSACTION;
    print error_message()
    PRINT error_line()
    --insert into pv_transac_sistemas_log (cod_pais,cod_emp,sistema,fecha,modulo,tipo_error,mensaje,procedimiento,correo) values (@mcod_pais,@mcod_emp,@msistema,getdate(),@modulo, ERROR_NUMBER(),ERROR_MESSAGE(),ERROR_LINE(),'N')
    IF error_number() = 70203
    BEGIN
      -- SELECT ERROR_NUMBER() AS NumeroError, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS StadoError, ERROR_PROCEDURE() AS Procedimiento, ERROR_LINE() AS LineaError, ERROR_MESSAGE() AS MensajeError
      SELECT error_message() AS codigo_respuesta
    END;
  end catch
GO
USE [master]
GO
