@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Scripts/Ventas/VENCrearVenta.js"></script>
}

@section styles{
    <style>
        .headColor {
            background-color: dimgray;
            color: white;
            font-size: 13px;
        }

        input {
            margin-top: -10px;
        }

        .custom-select {
            margin-top: -10px;
        }

        #gridContainer span.current-value {
            display: inline-block;
            margin-right: 5px;
        }

        #gridContainer span.diff {
            width: 50px;
            display: inline-block;
        }
    </style>
}


<div class="row">
    <div class="col-md-12">
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">CREAR NUEVA VENTA</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <label for="divNit">NIT</label>
                        <div class="input-group mb-3" id="divNit">
                            <div class="input-group-prepend">
                                <button id="btnAgregarCliente" style="margin-top:-10px" type="button" class="btn btn-success"><i class="far fa-plus"></i></button>
                                <button id="btnBuscarClientes" style="margin-top:-10px" type="button" class="btn btn-info"><i class="far fa-search"></i></button>
                            </div>
                            <input type="text" class="form-control" id="txtNit">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                        <label for="txtNombreCliente">CLIENTE</label>
                        <input class="form-control" id="txtNombreCliente" name="txtNombreCliente" type="text" disabled>
                        <input id="hfIdCliente" type="hidden">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <label for="divCodigo">CODIGO</label>
                        <div class="input-group mb-3" id="divCodigo">
                            <div class="input-group-prepend">
                                <button id="btnBuscarProductos" style="margin-top:-10px" type="button" class="btn btn-info"><i class="far fa-search"></i></button>
                            </div>
                            <input type="text" class="form-control" id="txtCodigo">
                            <input type="hidden" id="hfIdProducto">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                        <label for="txtNombreProducto">PRODUCTO</label>
                        <input class="form-control" id="txtNombreProducto" name="txtNombreProducto" type="text" disabled>
                        <input id="hfIdProducto" type="hidden">
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                        <label for="txtCantidad">CANTIDAD</label>
                        <input class="form-control text-center" id="txtCantidad" name="txtCantidad" onkeypress="return valideKey(event);" type="text">
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                        <label for="txtStock">STOCK</label>
                        <input class="form-control text-center" id="txtStock" name="txtStock" type="text" disabled>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                        <label for="txtPrecio">PRECIO</label>
                        <input class="form-control text-right" id="txtPrecio" name="txtPrecio" type="number" disabled>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                        <label for="txtDescuento">DESCUENTO</label>
                        <input class="form-control text-right" id="txtDescuento" name="txtDescuento" type="number" min="0" value="0">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
                        <button style="margin-top:5px" class="btn btn-success" id="btnAgregarDetalle">AGREGAR</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="table-responsive">
                            <table class="table table-striped" id="tblVenta" width="100%" style="font-size:14.5px">
                                <thead class="headColor">
                                    <tr>
                                        <th class="border text-center pl-2 pr-2">#</th>
                                        <th class="border text-center pl-2 pr-2 d-none">ID</th>
                                        <th class="border text-center pl-2 pr-2">PRODUCTO</th>
                                        <th class="border text-center pl-2 pr-2">CANTIDAD</th>
                                        <th class="border text-center pl-2 pr-2">PRECIO</th>
                                        <th class="border text-center pl-2 pr-2">DESCUENTO</th>
                                        <th class="border text-center pl-2 pr-2">SUBTOTAL</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyDetalleVenta">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row justify-content-end text-right">
                    <div class="col-12 col-md-12 col-xl-12 justify-content-end text-right">
                        <span class="badge badge-pill badge-success" id="txtTotal" style="font-size:18px"></span>
                        <input type="hidden" id="hfTotal"/>
                        <input type="hidden" id="hfTotalDescuento"/>
                        <input type="hidden" id="hfSubtotal"/>
                    </div>
                </div>
                <div class="float-right" style="margin-top:3px">                    
                    <button class="btn btn-secondary" type="reset" id="btnCancelarVenta">CANCELAR</button>
                    <button class="btn btn-primary" id="btnGuardarVenta">CREAR VENTA</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalProductos">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">BUSQUEDA DE REPUESTOS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color:red" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <label for="selMarcaRepuesto">MARCA REPUESTO</label>
                        <select class="custom-select" id="selMarcaRepuesto">
                            <option selected disabled>Seleccione una opcion</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <label for="selCategoria">CATEGORIA REPUESTO</label>
                        <select class="custom-select" id="selCategoria">
                            <option selected disabled>Seleccione una opcion</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <label for="selSubcategoria">SUBCATEGORIA REPUESTO</label>
                        <select class="custom-select" id="selSubcategoria">
                            <option selected disabled>Seleccione una opcion</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <label for="selMarcaVehiculo">MARCA VEHICULO</label>
                        <select class="custom-select" id="selMarcaVehiculo">
                            <option selected disabled>Seleccione una opcion</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <label for="selSerieVehiculo">SERIE VEHICULO</label>
                        <select class="custom-select" id="selSerieVehiculo">
                            <option selected disabled>Seleccione una opcion</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <label for="selModelo">MODELO</label>
                        <select class="custom-select" id="selModelo">
                            <option selected disabled>Seleccione una opcion</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 col-xl-12" style="margin-top:-8px">
                        <div class="demo-container">
                            <div id="gridProductos"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalClientes">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">BUSQUEDA DE CLIENTES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color:red" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-xl-12">
                        <div class="demo-container">
                            <div id="exportButton"></div>
                            <div id="gridContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>