@font-face {
    font-family: "Salesment-normal";
    src: url('fonts/SalesmentSansPrint-Regular.ttf');
}

@font-face {
    font-family: "Salesment-Bold";
    src: url('fonts/SalesmentSansPrint-Bold.ttf');
}
